{% extends 'GestionDenuncias/base.html' %}
{% block title %} <title>Sistema de Gestion de Denuncias</title> {% endblock %}

{% block body %}

            <script type="text/javascript" class="init">


$(document).ready(function() {
	$('#example2').DataTable({
        "language": {
            "lengthMenu": "Ver _MENU_ registros por pagina",
            "zeroRecords": "Sin Resultados",
            "info": "Mostrando pagina _PAGE_ de _PAGES_",
            "infoEmpty": "Sin Resultados",
            "infoFiltered": "(filtrado de _MAX_ registros)"
        },
               dom: 'lfrtBip',
        buttons: [
             {
      extend: 'excel',
      exportOptions: {

          format: {
              body: function(data, row, column, node) {
                  data = $('<p>' + data + '</p>').text();
                  return $.isNumeric(data.replace(',', '.')) ? data.replace(',', '.') : data;
              }
          }
      }
  }
        ]



    } );
} );
            function goBack() {
  window.history.back();
}

            </script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<div class="w3-responsive">

<section class="section1">
<h3>Recursos Ingresados</h3>

<iframe title="Proceso_Revision_Recursos - Avances Recursos" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiZjUwN2IwODgtYzRlYi00NzE1LTk2YjAtZjBlZWM0YmE3MjI1IiwidCI6IjI0ODMxZWJlLWQyNmQtNGQzMC05ZmE4LWVmM2MwMjQzYjMyZSIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>

<td style="text-align:center" > <button class="btn btn-warning" onclick="goBack()">Volver</button></td>

</section>
</div>
{% endblock %}