{% extends 'GestionDenuncias/base.html' %}
{% block title %} <title>Sistema de Gestion de Recursos</title> {% endblock %}

{% block body %}

            <script type="text/javascript" class="init">


$(document).ready(function() {
	$('#example2').DataTable({
        "language": {
            "lengthMenu": "Ver _MENU_ registros por pagina",
            "zeroRecords": "Sin Resultados",
            "info": "Mostrando pagina _PAGE_ de _PAGES_",
            "infoEmpty": "Sin Resultados",
            "infoFiltered": "(filtrado de _MAX_ registros)"
        },
               dom: 'lfrtBip',
        buttons: [
             {
      extend: 'excel',
      exportOptions: {

          format: {
              body: function(data, row, column, node) {
                  data = $('<p>' + data + '</p>').text();
                  return $.isNumeric(data.replace(',', '.')) ? data.replace(',', '.') : data;
              }
          }
      }
  }
        ]



    } );
} );
            function goBack() {
  window.history.back();
}

            </script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<div class="w3-responsive">

<section class="section1">
<h3>Recursos Asignación</h3>

<div style="display:flex; justify-content:flex-end; width:100%; padding:0;">
    <td style="position: absolute; right: 0;"> <button class="btn btn-outline-success" onclick="asignar_todos()">Asignar Seleccionados</button></td>

</div>

    <table id="example2" class="table table-striped table-bordered dt-responsive" style="width:100%">
    <thead>
        <tr>
            <th style="text-align: center">Tipo Recurso</th>
            <th>Elección</th>
            <th>Rut</th>
            <th>Dv</th>
            <th>Nombre</th>
            <th>Cod. Tipo</th>
            <th>Observaciones</th>
            <th>Prioridad</th>
            <th>Carpeta</th>
            <th>Asignacion</th>
            <th>Accion</th>
        </tr>
            </thead>
    <tbody>
        {% load humanize %}
        {% for linea in todasdenuncias %}
        {% if linea.usuario_actual.username == user.get_username %}

        <tr>
            <td>{{ linea.tipo_recurso}}</td>
            <td>{{ linea.eleccion}}</td>
            <td>{{ linea.rut}}</td>
            <td>{{ linea.dv}}</td>
            <td>{{ linea.nombre}}</td>
            <td>{{ linea.codigotipo}}</td>
            <td></td>
            <td>
              <select name="prioridad" id="selectorprioridad{{linea.id}}">
            {% if linea.prioridad == 'Baja' %}
               <option value="Baja" selected>Baja</option>
               <option value="Media">Media</option>
               <option value="Alta">Alta</option>
             {%  endif %}
               {% if linea.prioridad == 'Media' %}
               <option value="Baja">Baja</option>
               <option value="Media" selected>Media</option>
               <option value="Alta">Alta</option>
             {%  endif %}
                {% if linea.prioridad == 'Alta' %}
               <option value="Baja">Baja</option>
               <option value="Media">Media</option>
               <option value="Alta" selected>Alta</option>
             {%  endif %}
                </select>

            </td>
            <td style="text-align: center"><a href="{{linea.link_carpeta}}" target="_blank">Ver</a></td>
            <td>
            {% if request.user.username == 'jgallardo' %}
            <select name="asignacion" id="selectorasignacion{{linea.id}}">
              <option selected value="Pendiente">Pendiente</option>
              <option value="19116154">Genesis Lopez</option>
              <option value="12812146">Julissa Lazo</option>
              <option value="18383521">Carla Arriagada</option>
              <option value="18535049">Gabriela Rozas</option>
            </select>
            {% endif %}
            {% if request.user.username == 'eparedes'  %}
            <select name="asignacion" id="selectorasignacion{{linea.id}}">
              <option selected value="Pendiente">Pendiente</option>
              <option value="15665508">Miguel Baeza</option>
              <option value="16870114">Stephano Saez</option>
            </select>
            {% endif %}
            </td>
            <td><a class="btn btn-success" onclick="asignar({{ linea.id }})">Asigna</a></td>

              {% endif %}
        {% endfor %}
    </tbody>
    </table>

<td style="text-align:center" > <button class="btn btn-warning" onclick="goBack()">Volver</button></td>

</section>
</div>

       <script type="text/javascript">
    var order;
 function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');

  function asignar(recurso) {
  var selector_prioridad = document.getElementById('selectorprioridad'+ recurso);
  var prioridad_selected = selector_prioridad.options[selector_prioridad.selectedIndex].text;

  var selector_asignacion = document.getElementById('selectorasignacion'+ recurso);
  var asignacion_selected = selector_asignacion.options[selector_asignacion.selectedIndex].value;

  if (confirm('¿Esta Seguro que Desea Asignar?' + asignacion_selected)) {
  // Save it!
  console.log('Asignar Recurso N°'+ recurso);
  asignar_recurso(recurso, prioridad_selected, asignacion_selected);

setTimeout(() => { return window.location.replace("{% url 'ld_recursos_asigna' %}"); }, 1000);
} else {
  // Do nothing!
  console.log('No Finalizado Confirmado');
}

}

  function asignar_individual_masivo(recurso) {
  var selector_prioridad = document.getElementById('selectorprioridad'+ recurso);
  var prioridad_selected = selector_prioridad.options[selector_prioridad.selectedIndex].text;

  var selector_asignacion = document.getElementById('selectorasignacion'+ recurso);
  var asignacion_selected = selector_asignacion.options[selector_asignacion.selectedIndex].value;

  console.log('Asignar Recurso N°'+ recurso);
  asignar_recurso(recurso, prioridad_selected, asignacion_selected);
}


    function asignar_recurso(recurso, prioridad, asignacion) {

        var datos = {
				'id': recurso,
                'prioridad': prioridad,
                'asignacion': asignacion
			}
    var url = "/sgd/recursos/jc/asignar_recurso_lider/"
        fetch(url, {
	    		method:'POST',
	    		headers:{
	    			'Content-Type': 'application/json',
                    'Accept': 'application/json',
	    			'X-CSRFToken':csrftoken
	    		},
	    		body:JSON.stringify({'datos':datos}),

	    	})
            .then((response) => response.json())
      }

      function asignar_todos() {

  if (confirm('¿Esta Seguro que Desea Asignar Todos los Modificados?')) {
  // Save it!
  console.log('Asignar Recurso N°');

      {% for linea in todasdenuncias %}
        {% if linea.usuario_actual.username == user.get_username %}
              try {
                  console.log({{ linea.id }});
                  asignar_individual_masivo({{ linea.id }});
              }
              catch (e) {

                console.log(e); // pasa el objeto de la excepción al manejador de errores
                    }
        {% endif %}
        {% endfor %}
  window.alert('Listo');
  return window.location.replace("{% url 'ld_recursos_asigna' %}")
} else {
  // Do nothing!
  console.log('No Finalizado Confirmado');
}}





    </script>


{% endblock %}