{% extends 'GestionDenuncias/base.html' %}
{% block title %} <title>Consultas Envio Respuesta</title> {% endblock %}

{% block body %}

    	<style>
		#formularioEmergente {
			position: fixed;
			top: 50%;
			left: 50%;

			transform: translate(-50%, -50%);
			z-index: 9999;
			background-color: white;
			padding: 20px;
			border: 1px solid black;
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
		}

		#fondoEmergente {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.5);
			z-index: 9998;
		}
        .cerrar {
  float: right;
}
        .contador {
  font-size: small;
  font-style: italic;
  float: right;
}

	</style>


            <script type="text/javascript" class="init">


$(document).ready(function() {
	$('#example2').DataTable({
        "language": {
            "lengthMenu": "Ver _MENU_ registros por pagina",
            "zeroRecords": "Sin Resultados",
            "info": "Mostrando pagina _PAGE_ de _PAGES_",
            "infoEmpty": "Sin Resultados",
            "infoFiltered": "(filtrado de _MAX_ registros)"
        },
               dom: 'lfrtBip',
        buttons: [
             {
      extend: 'excel',
      exportOptions: {

          format: {
              body: function(data, row, column, node) {
                  data = $('<p>' + data + '</p>').text();
                  return $.isNumeric(data.replace(',', '.')) ? data.replace(',', '.') : data;
              }
          }
      }
  }
        ]



    } );
} );
            function goBack() {
  window.history.back();
}

            </script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<div class="w3-responsive">

<section class="section1">
<h3>Consultas Envio Respuesta</h3>



    <table id="example2" class="table table-striped table-bordered dt-responsive" style="width:100%">
    <thead>
        <tr>
            <th style="text-align: center">GlobalID</th>
            <th style="text-align: center">Fecha Ingreso</th>
            <th>Nombre</th>
            <th>Rut</th>
            <th>Tema</th>
            <th>Email</th>
            <th>Pregunta</th>
            <th>Accion</th>

        </tr>
            </thead>
    <tbody>

        {% for linea in todasdenuncias %}
        {% if user.username == linea.RespondidoPor %}
        <tr>
            <td>{{ linea.ObjectID}}</td>
            <td>{{ linea.FechaIngreso|date:'d-m-y H:i' }}</td>
            <td>{{ linea.NombreCompleto}}</td>
            <td>{{ linea.Rut}}</td>
            <td>{{ linea.TemaAsociado}}</td>
            <td>{{ linea.Email}}</td>
            <td>{{ linea.Pregunta}}</td>
            <td><a type="submit" class="btn btn-success" onclick="mostrarFormulario()">Finalizar</a></td>

            <div id="formularioEmergente" style="display: none;">

                <h4>Responder Consulta {{ linea.ObjectID }}</h4>
                <hr>
                <label for="respuesta">Validar la respuesta:</label><br>
                <textarea id="respuesta{{ linea.ObjectID }}" name="respuesta" onkeyup="contarCaracteres({{ linea.ObjectID }})">{{ linea.Respuesta }}</textarea><br>
                <div id="contadorCaracteres{{ linea.ObjectID }}" class="contador"></div><br>
                <label for="correo">Se enviará respuesta a:</label><br>
                <input type="email{{ linea.ObjectID }}" id="correo{{ linea.ObjectID }}" name="correo" value="{{ linea.Email }}"><br>
                <hr>
                <label for="correo">Respondido por : {{ linea.RespondidoPor }}</label><br>
                <hr>
                <button type="submit" onclick="pasar({{ linea.ObjectID }})">Enviar</button>
                <button type="button" class="cerrar" onclick="ocultarFormulario()">Cerrar</button>

            </div>


        {% endif %}
</tr>
        {% endfor %}
    </tbody>
    </table>

<td style="text-align:center" > <button class="btn btn-warning" onclick="goBack()">Volver</button></td>

</section>
</div>




       <script type="text/javascript">
    var order;
 function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');


       function contarCaracteres(ObjectID) {
  var respuesta = document.getElementById("respuesta" + ObjectID);
  var contador = document.getElementById("contadorCaracteres"+ ObjectID);
  var caracteresRestantes = 2000 - respuesta.value.length;
  contador.innerHTML = "Caracteres restantes: " + caracteresRestantes;
  if (caracteresRestantes < 0) {
    contador.style.color = "red";
  } else {
    contador.style.color = "black";
  }
}

       function mostrarFormulario() {
  var formulario = document.getElementById("formularioEmergente");
  formulario.style.display = "block";
}

function ocultarFormulario() {
  var formulario = document.getElementById("formularioEmergente");
  formulario.style.display = "none";
}

function obtenerRespuesta(ObjectID) {
  var respuesta = document.getElementById("respuesta" + ObjectID).value;
  return respuesta;
}
function obtenerEmail(ObjectID) {
  var email = document.getElementById("correo" + ObjectID).value;
  return email;
}






  function pasar(ObjectID) {
  var respuesta = obtenerRespuesta(ObjectID);
  var email = obtenerEmail(ObjectID);
  var etapa = '4_Enviada';
  if (confirm('¿Esta Respuesta Fue Enviada?')) {
  // Save it!
  console.log('Asignar Recurso N° '+ ObjectID);

  pasar_etapa(ObjectID, etapa, respuesta, email);

} else {
  // Do nothing!
  console.log('No Finalizado Confirmado');
}
  setTimeout(() => {   return window.location.replace("{% url 'consultas_respuesta' %}"); }, 1000);

}

    function pasar_etapa(ObjectID, etapa, respuesta, email) {

        var datos = {
				'ObjectID': ObjectID,
                'etapa': etapa,
                'respuesta': respuesta,
                'email': email
			}
    var url = "/consultas/responder/"
        fetch(url, {
	    		method:'POST',
	    		headers:{
	    			'Content-Type': 'application/json',
                    'Accept': 'application/json',
	    			'X-CSRFToken':csrftoken
	    		},
	    		body:JSON.stringify({'datos':datos}),

	    	})
            .then((response) => response.json())
      }



  </script>



{% endblock %}