{% extends 'GestionDenuncias/base.html' %}
{% block title %} <title>Sistema de Gestion de Denuncias</title> {% endblock %}

{% block body %}
<div class="w3-responsive">
<div class = "w3-row">
     <div class="w3-half w3-container">
 <br>

        {% for denuncia in todasdenuncias %}
        {% if denuncia.abogado_asistente.username == user.get_username and denuncia.estado_jefe == 'INGRESO' or denuncia.estado_jefe == 'DEVUELTO_JEFE' or denuncia.estado_jefe == 'EVALUADO_DR_NO_POSIBLE_FISCALIZAR' or denuncia.estado_jefe == 'FISCALIZADO_DR' %}
         <h3>Desactivar Denuncia {{ denuncia.numero }}</h3>
    <form action="{% url 'gestion-denuncia_desac' id_denuncia=denuncia.id %}" method = "POST" enctype="multipart/form-data" id="myForm">{% csrf_token %}
        {% csrf_token %}
        {{ form.as_table }}
        <br>

        <input class="btn btn-primary" type="submit" name="button_guardar" value="Guardar Datos">
        <input class="btn btn-success" id="button_enviar" name="button_enviar" value="Enviar a Siguiente Paso" onclick="enviar_formulario()">

    <br>
    </form>
            </div>
              <div class="w3-half w3-container">
               <br>
                 <h3>Detalles Denuncia</h3>

               {{ form2.as_table }}
              <br>
              <a class="btn btn-warning" href="{{ denuncia.link_adjuntos }}">Ver Carpeta Adjuntos</a>
             </div>
        {% else %}
        <h3>No Autorizado</h3>
        {% endif %}
        {% endfor %}

</div>
</div>

      <script>
function enviar_formulario() {
  var elecciones = document.getElementById("id_elecciones").value;
  var denunciado = document.getElementById("id_nombre_denunciado").value;
  var desactivacion = document.getElementById("id_codigo_desactivacion").value;
          if (elecciones == '' || denunciado == '' || desactivacion == ''){
  console.log('VACIO');
  alert("Debe Completar Todos los Campos");
  } else {
        console.log('OKK');
        if (confirm('¿Esta Seguro que quiere enviar la Denuncia ?')) {
        // Save it!
          console.log('Enviado Formulario');
          document.getElementById("id_guarda").value = "SI";
          console.log('pasa 1');
          document.getElementById("myForm").submit();
          console.log('pasa 2');
} else {
          // Do nothing!
      }

          }



}
    </script>

{% endblock %}