{% extends 'GestionDenuncias/base.html' %}
{% block title %} <title>Sistema de Gestion de Denuncias</title> {% endblock %}

{% block body %}
<div class="w3-responsive">

<section class="section1">
    {% for denuncia in todasdenuncias %}

    {% if denuncia.abogado_asistente == user.get_username  and denuncia.estado_jefe == 'GEST_INGRESO_ABOGADO_REALIZADA' or user.get_username == 'hfigueroa'  %}
     <h3>Resultado Denuncia {{ denuncia.numero }}</h3>
<form action="{% url 'resultado-denuncia' id_denuncia=denuncia.id %}" method = "POST" enctype="multipart/form-data">{% csrf_token %}
    {% if denuncia.fecha_sol_sad is null or denuncia.fecha_sol_sad == "" %}
    {% else %}
    <table>
        <tr>
            <th>1.</th>
            <th colspan="6">SAD</th>
        </tr>
        <tr>
            <th colspan="1"> Solicitado Jefe Unidad</th>
            <th colspan="2"> Fecha de solicitud</th>
            <th colspan="1"> Adjuntos Gestión</th>
            <th colspan="1"> Fecha de respuesta</th>
            <th colspan="1"> Resultado</th>
            <th colspan="1"> Adjunto Resultado</th>

        </tr>
        <tr>
            <td colspan="1">
                {% if denuncia.diligencia_sad  == True %}
                Si
                {% else %}
                No
                {% endif %}
            </td>
            <td colspan="2">
                    {% if denuncia.fecha_sol_sad is null %}

                    {% else %}
                    {{denuncia.fecha_sol_sad|date:'d-m-Y'}}
                    {% endif %}
            </td>
            <td colspan="1">
 {% if denuncia.tiene_adjunto_sol_sad == False %}
                -
                {% else %}
                <div class="w3-container">
   <h6 onclick="document.getElementById('id01 {{ denuncia.id }}').style.display='block'" class="w3-button w3-black">Ver</h6>

  <div id="id01 {{ denuncia.id }}" class="w3-modal">
    <div class="w3-modal-content w3-card-4">
      <header class="w3-container w3-dark-grey">
        <span onclick="document.getElementById('id01 {{ denuncia.id }}').style.display='none'"
        class="w3-button w3-display-topright">&times;</span>
        <h3>Adjuntos Denuncia</h3>
      </header>
      <div class="w3-container">
          {% for adjunto in adjuntos_obj_1 %}
              {% if denuncia.id == adjunto.id_denuncia_id  %}
        <p>
                <div class="img-preview img-preview-sm">
                    <i><img id=”blah” src="http://127.0.0.1:8000/media/{{adjunto.archivos}}" alt="Vista Previa No Disponible" width="100" height="100" /></i>
                 </div>

            <a href="http://127.0.0.1:8000/media/{{adjunto.archivos}}">{{adjunto.archivos}}</a></p>
              {% endif %}
          {%  endfor %}
      </div>
      <footer class="w3-container w3-dark-grey">
        <p></p>
      </footer>
    </div>
  </div>
</div>
                {% endif %}
            <td>

            <input
                    {% if denuncia.fecha_res_sad is null %}
                     value=""
                    {% else %}
                    value={{denuncia.fecha_res_sad|date:'Y-m-d'}}
                    {% endif %}
                    type="date" name={{ denuncia.id |add:"9900000000"}}>
            </td>

            <td><select name={{ denuncia.id |add:"2600000000" }}>
                {% if denuncia.resultado_sad == "Aporta Nuevos Ant. Útiles" %}
                <option value="Aporta Nuevos Ant. Útiles" selected>Aporta Nuevos Ant. Útiles</option>
                <option value="No Aporta Nuevos Ant. Útiles">No Aporta Nuevos Ant. Útiles</option>
                <option value="Sin Respuesta">Sin Respuesta</option>
                <option value="Pendiente">Pendiente</option>
                {% elif denuncia.resultado_sad == "No Aporta Nuevos Ant. Útiles" %}
                <option value="Aporta Nuevos Ant. Útiles">Aporta Nuevos Ant. Útiles</option>
                <option value="No Aporta Nuevos Ant. Útiles" selected>No Aporta Nuevos Ant. Útiles</option>
                <option value="Sin Respuesta">Sin Respuesta</option>
                <option value="Pendiente">Pendiente</option>
                {% elif denuncia.resultado_sad == "Sin Respuesta" %}
                <option value="Aporta Nuevos Ant. Útiles">Aporta Nuevos Ant. Útiles</option>
                <option value="No Aporta Nuevos Ant. Útiles">No Aporta Nuevos Ant. Útiles</option>
                <option value="Sin Respuesta" selected>Sin Respuesta</option>
                <option value="Pendiente">Pendiente</option>
                {% else %}
                <option value="Aporta Nuevos Ant. Útiles">Aporta Nuevos Ant. Útiles</option>
                <option value="No Aporta Nuevos Ant. Útiles">No Aporta Nuevos Ant. Útiles</option>
                <option value="Sin Respuesta">Sin Respuesta</option>
                <option value="Pendiente" selected>Pendiente</option>
                {% endif %}

                </select>
            </td>

            <td colspan="1">
            {% if denuncia.tiene_adjunto_res_sad == False %}
                <input type="file" name={{ denuncia.id |add:"4600000000"}} multiple="multiple">
                {% else %}
                <div class="w3-container">
   <h6 onclick="document.getElementById('id08 {{ denuncia.id }}').style.display='block'" class="w3-button w3-black">Ver</h6>

  <div id="id08 {{ denuncia.id }}" class="w3-modal">
    <div class="w3-modal-content w3-card-4">
      <header class="w3-container w3-dark-grey">
        <span onclick="document.getElementById('id08 {{ denuncia.id }}').style.display='none'"
        class="w3-button w3-display-topright">&times;</span>
        <h3>Adjuntos Denuncia</h3>
      </header>
      <div class="w3-container">
          {% for adjunto in adjuntos_obj_8 %}
              {% if denuncia.id == adjunto.id_denuncia_id  %}
        <p>
                <div class="img-preview img-preview-sm">
                    <i><img id=”blah” src="http://127.0.0.1:8000/media/{{adjunto.archivos}}" alt="Vista Previa No Disponible" width="100" height="100" /></i>
                 </div>

            <a href="http://127.0.0.1:8000/media/{{adjunto.archivos}}">{{adjunto.archivos}}</a></p>
              {% endif %}
          {%  endfor %}
      </div>
      <footer class="w3-container w3-dark-grey">
        <p></p>
      </footer>
    </div>
  </div>
</div>
                {% endif %}

            </td>
        </tr>
    </table>
    {%  endif %}
    {% if denuncia.fecha_sol_req is null or denuncia.fecha_sol_req == "" %}
    {% else %}
        <table>
        <tr>
            <th>2.</th>
            <th colspan="6">Requerimiento de información</th>
        </tr>
        <tr>
            <th colspan="1"> Solicitado Jefe Unidad</th>
            <th colspan="1">Fecha de requerimiento</th>
            <th colspan="1"> Adjuntos Gestión</th>
            <th colspan="1"> Fecha de respuesta</th>
            <th colspan="1"> Resultado</th>
            <th colspan="1"> Adjunto Resultado</th>
        </tr>
        <tr>
            <td colspan="1">
                {% if denuncia.diligencia_req_inf  == True %}
                Si
                {% else %}
                No
                {% endif %}
            </td>
            <td colspan="1">
                    {% if denuncia.fecha_sol_req is null %}

                    {% else %}
                    {{denuncia.fecha_sol_req|date:'d-m-Y'}}
                    {% endif %}
            </td>
            <td colspan="1">
 {% if denuncia.tiene_adjunto_sol_req_inf == False %}
               -
                {% else %}
                <div class="w3-container">
   <h6 onclick="document.getElementById('id02 {{ denuncia.id }}').style.display='block'" class="w3-button w3-black">Ver</h6>

  <div id="id02 {{ denuncia.id }}" class="w3-modal">
    <div class="w3-modal-content w3-card-4">
      <header class="w3-container w3-dark-grey">
        <span onclick="document.getElementById('id02 {{ denuncia.id }}').style.display='none'"
        class="w3-button w3-display-topright">&times;</span>
        <h3>Adjuntos Denuncia</h3>
      </header>
      <div class="w3-container">
          {% for adjunto in adjuntos_obj_2 %}
              {% if denuncia.id == adjunto.id_denuncia_id  %}
        <p>
                <div class="img-preview img-preview-sm">
                    <i><img id=”blah” src="http://127.0.0.1:8000/media/{{adjunto.archivos}}" alt="Vista Previa No Disponible" width="100" height="100" /></i>
                 </div>

            <a href="http://127.0.0.1:8000/media/{{adjunto.archivos}}">{{adjunto.archivos}}</a></p>
              {% endif %}
          {%  endfor %}
      </div>
      <footer class="w3-container w3-dark-grey">
        <p></p>
      </footer>
    </div>
  </div>
</div>
                {% endif %}
            </td>
             <td>

            <input
                    {% if denuncia.fecha_res_req is null %}
                     value=""
                    {% else %}
                    value={{denuncia.fecha_res_req|date:'Y-m-d'}}
                    {% endif %}
                    type="date" name={{ denuncia.id |add:"2700000000"}}>
            </td>

            <td><select name={{ denuncia.id |add:"2800000000" }}>
                {% if denuncia.resultado_req == "Aporta Info. Requerida" %}
                <option value="Aporta Info. Requerida" selected>Aporta Info. Requerida</option>
                <option value="No Aporta Nuevos Ant. Útiles">No Aporta Nuevos Ant. Útiles</option>
                <option value="Sin Respuesta">Sin Respuesta</option>
                <option value="Pendiente">Pendiente</option>
                {% elif denuncia.resultado_req == "No Aporta Info. Requerida" %}
                <option value="Aporta Info. Requerida">Aporta Info. Requerida</option>
                <option value="No Aporta Info. Requerida" selected>No Aporta Info. Requerida</option>
                <option value="Sin Respuesta">Sin Respuesta</option>
                <option value="Pendiente">Pendiente</option>
                {% elif denuncia.resultado_req == "Sin Respuesta" %}
                <option value="Aporta Info. Requerida">Aporta Info. Requerida</option>
                <option value="No Aporta Info. Requerida">No Aporta Info. Requerida</option>
                <option value="Sin Respuesta" selected>Sin Respuesta</option>
                <option value="Pendiente">Pendiente</option>
                {% else %}
                <option value="Aporta Info. Requerida">Aporta Info. Requerida</option>
                <option value="No Aporta Info. Requerida">No Aporta Info. Requerida</option>
                <option value="Sin Respuesta">Sin Respuesta</option>
                <option value="Pendiente" selected>Pendiente</option>
                {% endif %}

                </select>
            </td>

            <td colspan="1">
                        {% if denuncia.tiene_adjunto_res_req_inf == False %}
                <input type="file" name={{ denuncia.id |add:"4700000000"}} multiple="multiple">
                {% else %}
                <div class="w3-container">
   <h6 onclick="document.getElementById('id09 {{ denuncia.id }}').style.display='block'" class="w3-button w3-black">Ver</h6>

  <div id="id09 {{ denuncia.id }}" class="w3-modal">
    <div class="w3-modal-content w3-card-4">
      <header class="w3-container w3-dark-grey">
        <span onclick="document.getElementById('id09 {{ denuncia.id }}').style.display='none'"
        class="w3-button w3-display-topright">&times;</span>
        <h3>Adjuntos Denuncia</h3>
      </header>
      <div class="w3-container">
          {% for adjunto in adjuntos_obj_9 %}
              {% if denuncia.id == adjunto.id_denuncia_id  %}
        <p>
                <div class="img-preview img-preview-sm">
                    <i><img id=”blah” src="http://127.0.0.1:8000/media/{{adjunto.archivos}}" alt="Vista Previa No Disponible" width="100" height="100" /></i>
                 </div>

            <a href="http://127.0.0.1:8000/media/{{adjunto.archivos}}">{{adjunto.archivos}}</a></p>
              {% endif %}
          {%  endfor %}
      </div>
      <footer class="w3-container w3-dark-grey">
        <p></p>
      </footer>
    </div>
  </div>
</div>
                {% endif %}

            </td>

        </tr>
    </table>
{%  endif %}
    {% if denuncia.fecha_citacion is null or denuncia.fecha_citacion == "" %}
    {% else %}
        <table>
        <tr>
            <th>3.</th>
            <th colspan="7">Citación</th>
        </tr>
        <tr>
            <th colspan="1"> Solicitado Jefe Unidad</th>
            <th colspan="3">Fecha de citación</th>
            <th colspan="1"> Adjuntos Gestión</th>
            <th colspan="1"> Fecha de comparecencia</th>
            <th colspan="1"> Resultado</th>
            <th colspan="1"> Adjunto Resultado</th>
        </tr>
        <tr>
            <td colspan="1">
                {% if denuncia.diligencia_citacion  == True %}
                Si
                {% else %}
                No
                {% endif %}
            </td>
            <td colspan="3">
                {% if denuncia.fecha_citacion is null %}

                {% else %}
                {{denuncia.fecha_citacion|date:'d-m-Y'}}

                {% endif %}
            </td>


            <td colspan="1">
  {% if denuncia.tiene_adjunto_sol_cit == False %}
                -
                {% else %}
                <div class="w3-container">
   <h6 onclick="document.getElementById('id03 {{ denuncia.id }}').style.display='block'" class="w3-button w3-black">Ver</h6>

  <div id="id03 {{ denuncia.id }}" class="w3-modal">
    <div class="w3-modal-content w3-card-4">
      <header class="w3-container w3-dark-grey">
        <span onclick="document.getElementById('id03 {{ denuncia.id }}').style.display='none'"
        class="w3-button w3-display-topright">&times;</span>
        <h3>Adjuntos Denuncia</h3>
      </header>
      <div class="w3-container">
          {% for adjunto in adjuntos_obj_3 %}
              {% if denuncia.id == adjunto.id_denuncia_id  %}
        <p>
                <div class="img-preview img-preview-sm">
                    <i><img id=”blah” src="http://127.0.0.1:8000/media/{{adjunto.archivos}}" alt="Vista Previa No Disponible" width="100" height="100" /></i>
                 </div>

            <a href="http://127.0.0.1:8000/media/{{adjunto.archivos}}">{{adjunto.archivos}}</a></p>
              {% endif %}
          {%  endfor %}
      </div>
      <footer class="w3-container w3-dark-grey">
        <p></p>
      </footer>
    </div>
  </div>
</div>
                {% endif %}
            </td>

             <td>

            <input
                    {% if denuncia.fecha_comparecencia is null %}
                     value=""
                    {% else %}
                    value={{denuncia.fecha_comparecencia|date:'Y-m-d'}}
                    {% endif %}
                    type="date" name={{ denuncia.id |add:"2900000000"}}>
            </td>

            <td><select name={{ denuncia.id |add:"3000000000" }}>
                {% if denuncia.resultado_cit == "Comparece" %}
                <option value="Comparece" selected>Comparece</option>
                <option value="No Comparece">No Comparece</option>
                <option value="Pendiente">Pendiente</option>
                {% elif denuncia.resultado_cit == "No Comparece" %}
                <option value="Comparece">Comparece</option>
                <option value="No Comparece" selected>No Comparece</option>
                <option value="Pendiente">Pendiente</option>
                {% else %}
                <option value="Comparece">Comparece</option>
                <option value="No Comparece">No Comparece</option>
                <option value="Pendiente" selected>Pendiente</option>
                {% endif %}

                </select>
            </td>
            <td colspan="1">
                 {% if denuncia.tiene_adjunto_res_cit == False %}
                <input type="file" name={{ denuncia.id |add:"4800000000"}} multiple="multiple">
                {% else %}
                <div class="w3-container">
   <h6 onclick="document.getElementById('id10 {{ denuncia.id }}').style.display='block'" class="w3-button w3-black">Ver</h6>

  <div id="id10 {{ denuncia.id }}" class="w3-modal">
    <div class="w3-modal-content w3-card-4">
      <header class="w3-container w3-dark-grey">
        <span onclick="document.getElementById('id10 {{ denuncia.id }}').style.display='none'"
        class="w3-button w3-display-topright">&times;</span>
        <h3>Adjuntos Denuncia</h3>
      </header>
      <div class="w3-container">
          {% for adjunto in adjuntos_obj_10 %}
              {% if denuncia.id == adjunto.id_denuncia_id  %}
        <p>
                <div class="img-preview img-preview-sm">
                    <i><img id=”blah” src="http://127.0.0.1:8000/media/{{adjunto.archivos}}" alt="Vista Previa No Disponible" width="100" height="100" /></i>
                 </div>

            <a href="http://127.0.0.1:8000/media/{{adjunto.archivos}}">{{adjunto.archivos}}</a></p>
              {% endif %}
          {%  endfor %}
      </div>
      <footer class="w3-container w3-dark-grey">
        <p></p>
      </footer>
    </div>
  </div>
</div>
                {% endif %}

            </td>
        </tr>
    </table>
{%  endif %}
    {% if denuncia.fecha_inspeccion_terr is null or denuncia.fecha_inspeccion_terr == "" %}
    {% else %}
        <table>
        <tr>
            <th>4.</th>
            <th colspan="5">Inspección en terreno</th>
        </tr>
        <tr>
            <th colspan="1"> Solicitado Jefe Unidad</th>
            <th> Fecha de inspección</th>
            <th>Unidad Fiscalizada</th>
            <th colspan="1"> Adjuntos Gestión</th>
            <th colspan="1"> Resultado</th>
            <th colspan="1"> Adjunto Resultado</th>
        </tr>
        <tr>
            <td colspan="1">
                {% if denuncia.diligencia_insp_terreno  == True %}
                Si
                {% else %}
                No
                {% endif %}
            </td>
            <td>
                {% if denuncia.fecha_inspeccion_terr is null %}

                {% else %}
                {{denuncia.fecha_inspeccion_terr|date:'d-m-Y'}}
                {% endif %}
            </td>
            <td>
                {% if denuncia.unidad_fiscalizada_terr is null %}

                {% else %}
                {{denuncia.unidad_fiscalizada_terr}}
                {% endif %}
            </td>

            <td colspan="1">
{% if denuncia.tiene_adjunto_sol_ins_terr == False %}
               -
                {% else %}
                <div class="w3-container">
   <h6 onclick="document.getElementById('id04 {{ denuncia.id }}').style.display='block'" class="w3-button w3-black">Ver</h6>

  <div id="id04 {{ denuncia.id }}" class="w3-modal">
    <div class="w3-modal-content w3-card-4">
      <header class="w3-container w3-dark-grey">
        <span onclick="document.getElementById('id04 {{ denuncia.id }}').style.display='none'"
        class="w3-button w3-display-topright">&times;</span>
        <h3>Adjuntos Denuncia</h3>
      </header>
      <div class="w3-container">
          {% for adjunto in adjuntos_obj_4 %}
              {% if denuncia.id == adjunto.id_denuncia_id  %}
        <p>
                <div class="img-preview img-preview-sm">
                    <i><img id=”blah” src="http://127.0.0.1:8000/media/{{adjunto.archivos}}" alt="Vista Previa No Disponible" width="100" height="100" /></i>
                 </div>

            <a href="http://127.0.0.1:8000/media/{{adjunto.archivos}}">{{adjunto.archivos}}</a></p>
              {% endif %}
          {%  endfor %}
      </div>
      <footer class="w3-container w3-dark-grey">
        <p></p>
      </footer>
    </div>
  </div>
</div>
                {% endif %}
            </td>

            <td><select name={{ denuncia.id |add:"3100000000" }}>
                {% if denuncia.resultado_insp_terr == "Con Hallazgos" %}
                <option value="Con Hallazgos" selected>Con Hallazgos</option>
                <option value="Sin Hallazgos">Sin Hallazgos</option>
                <option value="Pendiente">Pendiente</option>
                {% elif denuncia.resultado_insp_terr == "Sin Hallazgos" %}
                <option value="Con Hallazgos">Con Hallazgos</option>
                <option value="Sin Hallazgos" selected>Sin Hallazgos</option>
                <option value="Pendiente">Pendiente</option>
                {% else %}
                <option value="Con Hallazgos">Con Hallazgos</option>
                <option value="Sin Hallazgos">Sin Hallazgos</option>
                <option value="Pendiente" selected>Pendiente</option>
                {% endif %}

                </select>
            </td>
            <td colspan="1">
                {% if denuncia.tiene_adjunto_res_ins_terr == False %}
                <input type="file" name={{ denuncia.id |add:"4900000000"}} multiple="multiple">
                {% else %}
                <div class="w3-container">
   <h6 onclick="document.getElementById('id11 {{ denuncia.id }}').style.display='block'" class="w3-button w3-black">Ver</h6>

  <div id="id11 {{ denuncia.id }}" class="w3-modal">
    <div class="w3-modal-content w3-card-4">
      <header class="w3-container w3-dark-grey">
        <span onclick="document.getElementById('id11 {{ denuncia.id }}').style.display='none'"
        class="w3-button w3-display-topright">&times;</span>
        <h3>Adjuntos Denuncia</h3>
      </header>
      <div class="w3-container">
          {% for adjunto in adjuntos_obj_11 %}
              {% if denuncia.id == adjunto.id_denuncia_id  %}
        <p>
                <div class="img-preview img-preview-sm">
                    <i><img id=”blah” src="http://127.0.0.1:8000/media/{{adjunto.archivos}}" alt="Vista Previa No Disponible" width="100" height="100" /></i>
                 </div>

            <a href="http://127.0.0.1:8000/media/{{adjunto.archivos}}">{{adjunto.archivos}}</a></p>
              {% endif %}
          {%  endfor %}
      </div>
      <footer class="w3-container w3-dark-grey">
        <p></p>
      </footer>
    </div>
  </div>
</div>
                {% endif %}
            </td>

        </tr>

    </table>
{%  endif %}
    {% if denuncia.fecha_inspeccion_rem is null or denuncia.fecha_inspeccion_rem == "" %}
    {% else %}
        <table>
        <tr>
            <th>5.</th>
            <th colspan="5">Inspección remota</th>
        </tr>
        <tr>
            <th colspan="1"> Solicitado Jefe Unidad</th>
            <th>Fecha de inspección</th>
            <th>Unidad Fiscalizada</th>
            <th colspan="1"> Adjuntos Gestión</th>
            <th colspan="1"> Resultado</th>
            <th colspan="1"> Adjunto Resultado</th>
        </tr>
        <tr>
            <td colspan="1">
                {% if denuncia.diligencia_insp_remota  == True %}
                Si
                {% else %}
                No
                {% endif %}
            </td>
            <td>
                {% if denuncia.fecha_inspeccion_rem is null %}

                {% else %}
                {{denuncia.fecha_inspeccion_rem|date:'d-m-Y'}}
                {% endif %}
            </td>

            <td>
                {% if denuncia.unidad_fiscalizada_rem is null %}

                {% else %}
                {{denuncia.unidad_fiscalizada_rem}}
                {% endif %}
            </td>
            <td colspan="1">
{% if denuncia.tiene_adjunto_sol_ins_rem == False %}
                -
                {% else %}
                <div class="w3-container">
   <h6 onclick="document.getElementById('id05 {{ denuncia.id }}').style.display='block'" class="w3-button w3-black">Ver</h6>

  <div id="id05 {{ denuncia.id }}" class="w3-modal">
    <div class="w3-modal-content w3-card-4">
      <header class="w3-container w3-dark-grey">
        <span onclick="document.getElementById('id05 {{ denuncia.id }}').style.display='none'"
        class="w3-button w3-display-topright">&times;</span>
        <h3>Adjuntos Denuncia</h3>
      </header>
      <div class="w3-container">
          {% for adjunto in adjuntos_obj_5 %}
              {% if denuncia.id == adjunto.id_denuncia_id  %}
        <p>
                <div class="img-preview img-preview-sm">
                    <i><img id=”blah” src="http://127.0.0.1:8000/media/{{adjunto.archivos}}" alt="Vista Previa No Disponible" width="100" height="100" /></i>
                 </div>

            <a href="http://127.0.0.1:8000/media/{{adjunto.archivos}}">{{adjunto.archivos}}</a></p>
              {% endif %}
          {%  endfor %}
      </div>
      <footer class="w3-container w3-dark-grey">
        <p></p>
      </footer>
    </div>
  </div>
</div>
                {% endif %}
            </td>

            <td><select name={{ denuncia.id |add:"3200000000" }}>
                {% if denuncia.resultado_insp_rem == "Con Hallazgos" %}
                <option value="Con Hallazgos" selected>Con Hallazgos</option>
                <option value="Sin Hallazgos">Sin Hallazgos</option>
                <option value="Pendiente">Pendiente</option>
                {% elif denuncia.resultado_insp_rem == "Sin Hallazgos" %}
                <option value="Con Hallazgos">Con Hallazgos</option>
                <option value="Sin Hallazgos" selected>Sin Hallazgos</option>
                <option value="Pendiente">Pendiente</option>
                {% else %}
                <option value="Con Hallazgos">Con Hallazgos</option>
                <option value="Sin Hallazgos">Sin Hallazgos</option>
                <option value="Pendiente" selected>Pendiente</option>
                {% endif %}

                </select>
            </td>

            <td colspan="1">
            {% if denuncia.tiene_adjunto_res_ins_rem == False %}
                <input type="file" name={{ denuncia.id |add:"5000000000"}} multiple="multiple">
                {% else %}
                <div class="w3-container">
   <h6 onclick="document.getElementById('id12 {{ denuncia.id }}').style.display='block'" class="w3-button w3-black">Ver</h6>

  <div id="id12 {{ denuncia.id }}" class="w3-modal">
    <div class="w3-modal-content w3-card-4">
      <header class="w3-container w3-dark-grey">
        <span onclick="document.getElementById('id12 {{ denuncia.id }}').style.display='none'"
        class="w3-button w3-display-topright">&times;</span>
        <h3>Adjuntos Denuncia</h3>
      </header>
      <div class="w3-container">
          {% for adjunto in adjuntos_obj_12 %}
              {% if denuncia.id == adjunto.id_denuncia_id  %}
        <p>
                <div class="img-preview img-preview-sm">
                    <i><img id=”blah” src="http://127.0.0.1:8000/media/{{adjunto.archivos}}" alt="Vista Previa No Disponible" width="100" height="100" /></i>
                 </div>

            <a href="http://127.0.0.1:8000/media/{{adjunto.archivos}}">{{adjunto.archivos}}</a></p>
              {% endif %}
          {%  endfor %}
      </div>
      <footer class="w3-container w3-dark-grey">
        <p></p>
      </footer>
    </div>
  </div>
</div>
                {% endif %}

            </td>

        </tr>
    </table>
{%  endif %}
    {% if denuncia.fecha_inspeccion_sub is null or denuncia.fecha_inspeccion_sub == "" %}
    {% else %}
        <table>
        <tr>
            <th>6.</th>
            <th colspan="5">Requerimiento de subsanación</th>
        </tr>
        <tr>
            <th colspan="1"> Solicitado Jefe Unidad</th>
            <th>Fecha de requerimiento</th>
            <th>Unidad Fiscalizada</th>
            <th colspan="1"> Adjuntos Gestión</th>
            <th colspan="1"> Resultado</th>
            <th colspan="1"> Adjunto Resultado</th>
        </tr>
        <tr>
            <td colspan="1">
                {% if denuncia.diligencia_subsanacion  == True %}
                Si
                {% else %}
                No
                {% endif %}
            </td>
            <td>
                {% if denuncia.fecha_inspeccion_sub is null %}

                {% else %}
                {{denuncia.fecha_inspeccion_sub|date:'d-m-Y'}}
                {% endif %}
            </td>
            <td>
                {% if denuncia.unidad_fiscalizada_sub is null %}

                {% else %}
                {{denuncia.unidad_fiscalizada_sub}}
                {% endif %}
            </td>

            <td colspan="1">
{% if denuncia.tiene_adjunto_sol_req_sub == False %}
                -
                {% else %}
                <div class="w3-container">
   <h6 onclick="document.getElementById('id06 {{ denuncia.id }}').style.display='block'" class="w3-button w3-black">Ver</h6>

  <div id="id06 {{ denuncia.id }}" class="w3-modal">
    <div class="w3-modal-content w3-card-4">
      <header class="w3-container w3-dark-grey">
        <span onclick="document.getElementById('id06 {{ denuncia.id }}').style.display='none'"
        class="w3-button w3-display-topright">&times;</span>
        <h3>Adjuntos Denuncia</h3>
      </header>
      <div class="w3-container">
          {% for adjunto in adjuntos_obj_6 %}
              {% if denuncia.id == adjunto.id_denuncia_id  %}
        <p>
                <div class="img-preview img-preview-sm">
                    <i><img id=”blah” src="http://127.0.0.1:8000/media/{{adjunto.archivos}}" alt="Vista Previa No Disponible" width="100" height="100" /></i>
                 </div>

            <a href="http://127.0.0.1:8000/media/{{adjunto.archivos}}">{{adjunto.archivos}}</a></p>
              {% endif %}
          {%  endfor %}
      </div>
      <footer class="w3-container w3-dark-grey">
        <p></p>
      </footer>
    </div>
  </div>
</div>
                {% endif %}
            </td>

            <td><select name={{ denuncia.id |add:"3300000000" }}>
                {% if denuncia.resultado_insp_sub == "Subsana" %}
                <option value="Subsana" selected>Subsana</option>
                <option value="No Subsana">No Subsana</option>
                <option value="Sin Respuesta">Sin Respuesta</option>
                <option value="Pendiente">Pendiente</option>
                {% elif denuncia.resultado_insp_sub == "No Subsana" %}
                <option value="Subsana">Subsana</option>
                <option value="No Subsana" selected>No Subsana</option>
                <option value="Sin Respuesta">Sin Respuesta</option>
                <option value="Pendiente">Pendiente</option>
                {% elif denuncia.resultado_insp_sub == "Sin Respuesta" %}
                <option value="Subsana">Subsana</option>
                <option value="No Subsana">No Subsana</option>
                <option value="Sin Respuesta" selected>Sin Respuesta</option>
                <option value="Pendiente">Pendiente</option>
                {% else %}
                <option value="Subsana">Subsana</option>
                <option value="No Subsana">No Subsana</option>
                <option value="Sin Respuesta">Sin Respuesta</option>
                <option value="Pendiente" selected>Pendiente</option>
                {% endif %}

                </select>
            </td>
            <td colspan="1">
                 {% if denuncia.tiene_adjunto_res_req_sub == False %}
                <input type="file" name={{ denuncia.id |add:"5100000000"}} multiple="multiple">
                {% else %}
                <div class="w3-container">
   <h6 onclick="document.getElementById('id13 {{ denuncia.id }}').style.display='block'" class="w3-button w3-black">Ver</h6>

  <div id="id13 {{ denuncia.id }}" class="w3-modal">
    <div class="w3-modal-content w3-card-4">
      <header class="w3-container w3-dark-grey">
        <span onclick="document.getElementById('id13 {{ denuncia.id }}').style.display='none'"
        class="w3-button w3-display-topright">&times;</span>
        <h3>Adjuntos Denuncia</h3>
      </header>
      <div class="w3-container">
          {% for adjunto in adjuntos_obj_13 %}
              {% if denuncia.id == adjunto.id_denuncia_id  %}
        <p>
                <div class="img-preview img-preview-sm">
                    <i><img id=”blah” src="http://127.0.0.1:8000/media/{{adjunto.archivos}}" alt="Vista Previa No Disponible" width="100" height="100" /></i>
                 </div>

            <a href="http://127.0.0.1:8000/media/{{adjunto.archivos}}">{{adjunto.archivos}}</a></p>
              {% endif %}
          {%  endfor %}
      </div>
      <footer class="w3-container w3-dark-grey">
        <p></p>
      </footer>
    </div>
  </div>
</div>
                {% endif %}


            </td>
        </tr>
    </table>
{%  endif %}
    {% if denuncia.fecha_requer is null or denuncia.fecha_requer == "" %}
    {% else %}
        <table>
        <tr>
            <th>7.</th>
            <th colspan="5">Orden de Retiro</th>
        </tr>
        <tr>
            <th colspan="1"> Solicitado Jefe Unidad</th>
            <th>Fecha de requerimiento</th>
            <th>Municipalidad</th>
            <th colspan="1"> Adjuntos Gestión</th>
            <th colspan="1"> Resultado</th>
            <th colspan="1"> Adjunto Resultado</th>
        </tr>
        <tr>
            <td colspan="1">
                {% if denuncia.diligencia_orden_retiro  == True %}
                Si
                {% else %}
                No
                {% endif %}
            </td>
            <td>
                {% if denuncia.fecha_requer is null %}

                {% else %}
                {{denuncia.fecha_requer|date:'d-m-Y'}}
                {% endif %}
            </td>



            <td>
                {% if denuncia.municipalidad is null %}

                {% else %}
                {{denuncia.municipalidad}}
                {% endif %}
            </td>

            <td colspan="1">
                {% if denuncia.tiene_adjunto_sol_ord_ret == False %}
                -
                {% else %}
                <div class="w3-container">
   <h6 onclick="document.getElementById('id07 {{ denuncia.id }}').style.display='block'" class="w3-button w3-black">Ver</h6>

  <div id="id07 {{ denuncia.id }}" class="w3-modal">
    <div class="w3-modal-content w3-card-4">
      <header class="w3-container w3-dark-grey">
        <span onclick="document.getElementById('id07 {{ denuncia.id }}').style.display='none'"
        class="w3-button w3-display-topright">&times;</span>
        <h3>Adjuntos Denuncia</h3>
      </header>
      <div class="w3-container">
          {% for adjunto in adjuntos_obj_7 %}
              {% if denuncia.id == adjunto.id_denuncia_id  %}
        <p>
                <div class="img-preview img-preview-sm">
                    <i><img id=”blah” src="http://127.0.0.1:8000/media/{{adjunto.archivos}}" alt="Vista Previa No Disponible" width="100" height="100" /></i>
                 </div>

            <a href="http://127.0.0.1:8000/media/{{adjunto.archivos}}">{{adjunto.archivos}}</a></p>
              {% endif %}
          {%  endfor %}
      </div>
      <footer class="w3-container w3-dark-grey">
        <p></p>
      </footer>
    </div>
  </div>
</div>
                {% endif %}
            </td>

            <td><select name={{ denuncia.id |add:"3400000000" }}>
                {% if denuncia.resultado_orden_ret == "Retira" %}
                <option value="Retira" selected>Retira</option>
                <option value="No Retira">No Retira</option>
                <option value="Sin Respuesta">Sin Respuesta</option>
                <option value="Pendiente">Pendiente</option>
                {% elif denuncia.resultado_orden_ret == "No Retira" %}
                <option value="Retira">Retira</option>
                <option value="No Retira" selected>No Retira</option>
                <option value="Sin Respuesta">Sin Respuesta</option>
                <option value="Pendiente">Pendiente</option>
                {% elif denuncia.resultado_orden_ret == "Sin Respuesta" %}
                <option value="Retira">Retira</option>
                <option value="No Retira">No Retira</option>
                <option value="Sin Respuesta" selected>Sin Respuesta</option>
                <option value="Pendiente">Pendiente</option>
                {% else %}
                <option value="Retira">Retira</option>
                <option value="No Retira">No Retira</option>
                <option value="Sin Respuesta">Sin Respuesta</option>
                <option value="Pendiente" selected>Pendiente</option>
                {% endif %}

                </select>
            </td>

            <td colspan="1">

             {% if denuncia.tiene_adjunto_res_ord_ret == False %}
                <input type="file" name={{ denuncia.id |add:"5200000000"}} multiple="multiple">
                {% else %}
                <div class="w3-container">
   <h6 onclick="document.getElementById('id14 {{ denuncia.id }}').style.display='block'" class="w3-button w3-black">Ver</h6>

  <div id="id14 {{ denuncia.id }}" class="w3-modal">
    <div class="w3-modal-content w3-card-4">
      <header class="w3-container w3-dark-grey">
        <span onclick="document.getElementById('id14 {{ denuncia.id }}').style.display='none'"
        class="w3-button w3-display-topright">&times;</span>
        <h3>Adjuntos Denuncia</h3>
      </header>
      <div class="w3-container">
          {% for adjunto in adjuntos_obj_14 %}
              {% if denuncia.id == adjunto.id_denuncia_id  %}
        <p>
                <div class="img-preview img-preview-sm">
                    <i><img id=”blah” src="http://127.0.0.1:8000/media/{{adjunto.archivos}}" alt="Vista Previa No Disponible" width="100" height="100" /></i>
                 </div>

            <a href="http://127.0.0.1:8000/media/{{adjunto.archivos}}">{{adjunto.archivos}}</a></p>
              {% endif %}
          {%  endfor %}
      </div>
      <footer class="w3-container w3-dark-grey">
        <p></p>
      </footer>
    </div>
  </div>
</div>
                {% endif %}


            </td>

        </tr>
    </table>
{%  endif %}
     <table>
        <tr>
            <th>Resultado</th>
            <th>Motivo</th>
            <th>Adjunto</th>
        </tr>
        <tr>
            <td>
                <select name={{ denuncia.id |add:"3500000000" }}>
                {% if denuncia.resultado_abogado == "Archivar" %}
                <option value="Archivar" selected>Archivar</option>
                <option value="Instruir Sancionatorio">Instruir Sancionatorio</option>
                <option value="Derivar">Derivar</option>
                <option value="Pendiente">Pendiente</option>
                {% elif denuncia.resultado_abogado == "Instruir Sancionatorio" %}
                <option value="Archivar">Archivar</option>
                <option value="Instruir Sancionatorio" selected>Instruir Sancionatorio</option>
                <option value="Derivar">Sin Respuesta</option>
                <option value="Pendiente">Pendiente</option>
                {% elif denuncia.resultado_abogado == "Derivar" %}
                <option value="Archivar">Archivar</option>
                <option value="Instruir Sancionatorio">Instruir Sancionatorio</option>
                <option value="Derivar" selected>Derivar</option>
                <option value="Pendiente">Pendiente</option>
                {% else %}
                <option value="Archivar">Archivar</option>
                <option value="Instruir Sancionatorio">Instruir Sancionatorio</option>
                <option value="Derivar">Derivar</option>
                <option value="Pendiente" selected>Pendiente</option>
                {% endif %}

                </select>
            </td>
            <td>
                <select name={{ denuncia.id |add:"3600000000" }}>
                {% if denuncia.motivo_abogado == "Presunta Infracción" %}
                <option value="Presunta Infracción" selected>Presunta Infracción</option>
                <option value="No Competencia">No Competencia</option>
                <option value="Falta de Mérito">Falta de Mérito</option>
                <option value="Falta de Plausibilidad">Falta de Plausibilidad</option>
                <option value="Falta de Seriedad">Falta de Seriedad</option>
                <option value="Pendiente">Pendiente</option>
                {% elif denuncia.motivo_abogado == "No Competencia" %}
                <option value="Presunta Infracción">Presunta Infracción</option>
                <option value="No Competencia" selected>No Competencia</option>
                <option value="Falta de Mérito"> Falta de Mérito</option>
                <option value="Falta de Plausibilidad">Falta de Plausibilidad</option>
                <option value="Falta de Seriedad">Falta de Seriedad</option>
                <option value="Pendiente">Pendiente</option>
                {% elif denuncia.motivo_abogado == "Falta de Mérito" %}
                <option value="Presunta Infracción">Presunta Infracción</option>
                <option value="No Competencia">No Competencia</option>
                <option value="Falta de Mérito" selected>Falta de Mérito</option>
                <option value="Falta de Plausibilidad">Falta de Plausibilidad</option>
                <option value="Falta de Seriedad">Falta de Seriedad</option>
                <option value="Pendiente">Pendiente</option>
                {% elif denuncia.motivo_abogado == "Falta de Plausibilidad" %}
                <option value="Presunta Infracción">Presunta Infracción</option>
                <option value="No Competencia">No Competencia</option>
                <option value="Falta de Mérito" >Falta de Mérito</option>
                <option value="Falta de Plausibilidad" selected>Falta de Plausibilidad</option>
                <option value="Falta de Seriedad">Falta de Seriedad</option>
                <option value="Pendiente">Pendiente</option>
                {% elif denuncia.motivo_abogado == "Falta de Seriedad" %}
                <option value="Presunta Infracción">Presunta Infracción</option>
                <option value="No Competencia">No Competencia</option>
                <option value="Falta de Mérito" >Falta de Mérito</option>
                <option value="Falta de Plausibilidad">Falta de Plausibilidad</option>
                <option value="Falta de Seriedad" selected>Falta de Seriedad</option>
                <option value="Pendiente">Pendiente</option>
                {% else %}
                <option value="Presunta Infracción">Presunta Infracción</option>
                <option value="No Competencia">No Competencia</option>
                <option value="Falta de Mérito">Falta de Mérito</option>
                <option value="Falta de Plausibilidad">Falta de Plausibilidad</option>
                <option value="Falta de Seriedad">Falta de Seriedad</option>
                <option value="Pendiente" selected>Pendiente</option>
                {% endif %}

                </select>
            </td>
            <td>

             {% if denuncia.tiene_adjunto_informe == False %}
                <input type="file" name={{ denuncia.id |add:"5300000000"}} multiple="multiple">
                {% else %}
                <div class="w3-container">
   <h6 onclick="document.getElementById('id15 {{ denuncia.id }}').style.display='block'" class="w3-button w3-black">Ver</h6>

  <div id="id15 {{ denuncia.id }}" class="w3-modal">
    <div class="w3-modal-content w3-card-4">
      <header class="w3-container w3-dark-grey">
        <span onclick="document.getElementById('id15 {{ denuncia.id }}').style.display='none'"
        class="w3-button w3-display-topright">&times;</span>
        <h3>Adjuntos Denuncia</h3>
      </header>
      <div class="w3-container">
          {% for adjunto in adjuntos_obj_15 %}
              {% if denuncia.id == adjunto.id_denuncia_id  %}
        <p>
                <div class="img-preview img-preview-sm">
                    <i><img id=”blah” src="http://127.0.0.1:8000/media/{{adjunto.archivos}}" alt="Vista Previa No Disponible" width="100" height="100" /></i>
                 </div>

            <a href="http://127.0.0.1:8000/media/{{adjunto.archivos}}">{{adjunto.archivos}}</a></p>
              {% endif %}
          {%  endfor %}
      </div>
      <footer class="w3-container w3-dark-grey">
        <p></p>
      </footer>
    </div>
  </div>
</div>
                {% endif %}

            </td>
        </tr>

    </table>
    {%  if user.get_username != 'hfigueroa' %}
    <input type="submit" name="button_guardar" value="Guardar Datos">
    <input type="submit" name="button_enviar" value="Enviar a Siguiente Paso" onClick="return confirm('¿Seguro que quieres Enviar?');">
        {%  endif %}
        </form>
     {% else %}
      <h1>No Autorizado</h1>
     {% endif %}
     {% endfor %}
</section>
</div>
{% endblock %}