<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.7/css/responsive.bootstrap4.min.css">

	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/responsive/2.2.7/js/dataTables.responsive.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/responsive/2.2.7/js/responsive.bootstrap4.min.js"></script>

    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>


    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css">
       <script src=" https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
   <script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
   <script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js"></script>


    <meta charset="UTF-8">
    {% block title %}  {% endblock %}
</head>
<body>
    <header>

{% block nav %}
        <div class="w3-bar w3-black ">
    <a href="{% url 'abogado_inicio' %}" class="w3-bar-item w3-button">{% load static %} <img class="logo_home" src="{% static 'img/logo_header.png' %}" alt="Servicio Electoral de Chile" /></a>
     <a href="{% url 'abogado_inicio' %}" class="w3-bar-item w3-button">Inicio</a>
            {% for group in user.groups.all %}


                {% if group.name == 'Administrador' or group.name == 'Jefe'%}
    <div class="w3-dropdown-hover">
      <button class="w3-button">Ingreso</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="{% url 'denuncias_ingreso' %}" class="w3-bar-item w3-button">Individual</a>
        <a href="{% url 'denuncias_ingreso_mass' %}" class="w3-bar-item w3-button">Masivo</a>


      </div>
      </div>
                    {% endif %}
         {% if group.name == 'Administrador'%}

                                                         <div class="w3-dropdown-hover">
      <button class="w3-button">Bandeja</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
         <a href="{% url 'denuncias_enviadas_ad' %}" class="w3-bar-item w3-button">Ingresados</a>
        <a href="{% url 'admin_despacho' %}" class="w3-bar-item w3-button">Despacho</a>

      </div>
      </div>

        {% endif %}
         {% if group.name == 'Jefe'%}
                                                         <div class="w3-dropdown-hover">
      <button class="w3-button">Bandeja Jefe</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
           <a href="{% url 'denuncias_enviadas_ad' %}" class="w3-bar-item w3-button">Ingresados</a>
        <a href="{% url 'jefe_evaluacion_act' %}" class="w3-bar-item w3-button">Validacion Activadas</a>
           <a href="{% url 'jefe_evaluacion_desact' %}" class="w3-bar-item w3-button">Validacion Desactivadas</a>
          <a href="{% url 'validacion_masiva' %}" class="w3-bar-item w3-button">Validacion Masiva</a>
      </div>
      </div>
                                     <div class="w3-dropdown-hover">
      <button class="w3-button">Reportes</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="#" class="w3-bar-item w3-button">Reporte General</a>
           <a href="#" class="w3-bar-item w3-button">Reporte 2</a>
           <a href="#" class="w3-bar-item w3-button">Reporte 3</a>
           <a href="#" class="w3-bar-item w3-button">Reporte 4</a>
      </div>
      </div>



                {% endif %}
         {% if group.name == 'Abogado' %}
                                     <div class="w3-dropdown-hover">
      <button class="w3-button">Bandeja</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">

          <a href="{% url 'abogado_evaluacion' %}" class="w3-bar-item w3-button">Evaluación</a>
        <a href="{% url 'abogado_comprobacion' %}" class="w3-bar-item w3-button">Comprobación</a>
           <a href="{% url 'abogado_rechazos' %}" class="w3-bar-item w3-button">Rechazados</a>
           <a href="{% url 'abogado_enviados' %}" class="w3-bar-item w3-button">Enviados</a>
            </div>
      </div>

         {% endif %}
    {% if group.name == 'Encargado Regional' %}
                                     <div class="w3-dropdown-hover">
      <button class="w3-button">Bandeja Dirección Regional</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="{% url 'dr_evaluacion' %}" class="w3-bar-item w3-button">Evaluación</a>
        <a href="{% url 'dr_fiscalizacion' %}" class="w3-bar-item w3-button">Fiscalizacion</a>
           <a href="{% url 'dr_enviados' %}" class="w3-bar-item w3-button">Enviados</a>
            </div>
      </div>

         {% endif %}


  {% if group.name == 'Auditor Revisor' %}
             <a href="http://webgeintegradoqa.gastodev.adexus.io/" class="w3-bar-item w3-button">Sistema de Gasto</a>


              <div class="w3-dropdown-hover">
      <button class="w3-button">IRE</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
         <a href="{% url 'auditor_ire' eleccion=1 %}" class="w3-bar-item w3-button">Alcalde</a>
         <a href="{% url 'auditor_ire' eleccion=2 %}" class="w3-bar-item w3-button">Concejal</a>
         <a href="{% url 'auditor_ire' eleccion=3 %}" class="w3-bar-item w3-button">Convencional Constituyente</a>
         <a href="{% url 'auditor_ire' eleccion=4 %}" class="w3-bar-item w3-button">Convencional Constituyente - PO</a>
         <a href="{% url 'auditor_ire' eleccion=5 %}" class="w3-bar-item w3-button">Gobernador Regional</a>
         <a href="{% url 'auditor_ire' eleccion=6 %}" class="w3-bar-item w3-button">Partidos</a>
            </div>
      </div>




                                                  <div class="w3-dropdown-hover">
      <button class="w3-button">Bandejas</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="{% url 'auditor_bandeja_asignados' %}" class="w3-bar-item w3-button">Candidatos Celula</a>
            </div>
      </div>
         {% endif %}

           {% if group.name == 'Auditor Financiamiento' %}
                                     <div class="w3-dropdown-hover">
      <button class="w3-button">Financiamiento</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="#" class="w3-bar-item w3-button">Aportes Partidos Politicos</a>
        <a href="#" class="w3-bar-item w3-button">Ventanilla</a>
           <a href="#" class="w3-bar-item w3-button">Transbank</a>
           <a href="#" class="w3-bar-item w3-button">Abonos</a>
            </div>
      </div>
         {% endif %}

                {% if group.name == 'Auditor Encargado' %}
                                     <div class="w3-dropdown-hover">
      <button class="w3-button">Celula</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="{% url 'auditor_avance_general' %}" class="w3-bar-item w3-button">Avance General Cuentas</a>
        <a href="{% url 'auditor_avance_celula' %}" class="w3-bar-item w3-button">Avance Celula</a>
            <a href="{% url 'auditor_bandeja_asignados' %}" class="w3-bar-item w3-button">Candidatos Celula</a>
            </div>
      </div>


         {% endif %}

                                {% if group.name == 'Jefe Gasto' %}
                                     <div class="w3-dropdown-hover">
      <button class="w3-button">Reportes</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="{% url 'auditor_avance_general' %}" class="w3-bar-item w3-button">Flujo Cuentas</a>
        <a href="{% url 'auditor_avance_celula' %}" class="w3-bar-item w3-button">Avance Celulas</a>
           <a href="#" class="w3-bar-item w3-button">Avance Auditores</a>
          <a href="#" class="w3-bar-item w3-button">Administrar Perfiles</a>
           <a href="{% url 'auditor_indicadores' %}" class="w3-bar-item w3-button">Indicadores</a>
            </div>
      </div>
         {% endif %}


            {% if group.name == 'GestionRecursos_Admin' %}
                                     <div class="w3-dropdown-hover">
      <button class="w3-button">Reportes</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="{% url 'admin_recursos_total' %}" class="w3-bar-item w3-button">Total Recursos</a>
        <a href="{% url 'admin_recursos_asigna' %}" class="w3-bar-item w3-button">Asignacion</a>
          <a href="{% url 'auditor_avance_celula' %}" class="w3-bar-item w3-button">Avance Celulas</a>
          <a href="{% url 'auditor_avance_general' %}" class="w3-bar-item w3-button">Avance General</a>
           <a href="{% url 'auditor_indicadores' %}" class="w3-bar-item w3-button">Reporte</a>
            </div>
      </div>
         {% endif %}
         {% if group.name == 'GestionRecursos_LiderCelulas' %}
                                     <div class="w3-dropdown-hover">
      <button class="w3-button">Bandejas</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="{% url 'ld_recursos_asigna' %}" class="w3-bar-item w3-button">Bandeja Asignacion</a>
        <a href="{% url 'admin_recursos_asigna' %}" class="w3-bar-item w3-button">Bandeja Validacion</a>
          <a href="{% url 'auditor_avance_celula' %}" class="w3-bar-item w3-button">Avance Celulas</a>
          <a href="{% url 'auditor_avance_general' %}" class="w3-bar-item w3-button">Avance General</a>
           <a href="{% url 'auditor_indicadores' %}" class="w3-bar-item w3-button">Reporte</a>
            </div>
      </div>
             <div class="w3-dropdown-hover">
      <button class="w3-button">Reportes</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
           <a href="{% url 'auditor_avance_celula' %}" class="w3-bar-item w3-button">Avance Celulas</a>
          <a href="{% url 'auditor_avance_general' %}" class="w3-bar-item w3-button">Avance General</a>
           <a href="{% url 'auditor_indicadores' %}" class="w3-bar-item w3-button">Reporte</a>
            </div>
      </div>
         {% endif %}

        {% if group.name == 'GestionRecursos_LiderAC' %}
                                     <div class="w3-dropdown-hover">
      <button class="w3-button">Bandejas</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="{% url 'ld_recursos_asigna' %}" class="w3-bar-item w3-button">Bandeja Asignacion</a>
        <a href="{% url 'admin_recursos_asigna' %}" class="w3-bar-item w3-button">Bandeja Validacion</a>
          <a href="{% url 'auditor_avance_celula' %}" class="w3-bar-item w3-button">Avance Celulas</a>
          <a href="{% url 'auditor_avance_general' %}" class="w3-bar-item w3-button">Avance General</a>
           <a href="{% url 'auditor_indicadores' %}" class="w3-bar-item w3-button">Reporte</a>
            </div>
      </div>
             <div class="w3-dropdown-hover">
      <button class="w3-button">Reportes</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
           <a href="{% url 'auditor_avance_celula' %}" class="w3-bar-item w3-button">Avance Celulas</a>
          <a href="{% url 'auditor_avance_general' %}" class="w3-bar-item w3-button">Avance General</a>
           <a href="{% url 'auditor_indicadores' %}" class="w3-bar-item w3-button">Reporte</a>
            </div>
      </div>
         {% endif %}

        {% if group.name == 'GestionRecursos_GestorReclamaciones' %}
                                     <div class="w3-dropdown-hover">
      <button class="w3-button">Bandejas Reclamacion</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="{% url 'admin_recursos_total' %}" class="w3-bar-item w3-button">1 Generacion y Firma Resolucion y Expediente</a>
        <a href="{% url 'admin_recursos_asigna' %}" class="w3-bar-item w3-button">2 Envío a Tricel</a>
          <a href="{% url 'auditor_avance_celula' %}" class="w3-bar-item w3-button">3 Monitoreo Sentencias</a>
          <a href="{% url 'auditor_avance_general' %}" class="w3-bar-item w3-button">4 Registro Final</a>
            </div>
      </div>
         {% endif %}

                        {% if group.name == 'GestionRecursos_JefeCelula' %}
                                     <div class="w3-dropdown-hover">
      <button class="w3-button">Bandejas</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="{% url 'jc_recursos_asigna' %}" class="w3-bar-item w3-button">Asignacion</a>
          <a href="{% url 'jc_recursos_asigna' %}" class="w3-bar-item w3-button">Validacion Informe Tecnico</a>
            </div>
      </div>
         {% endif %}

      {% if group.name == 'GestionRecursos_Auditor' %}
                                     <div class="w3-dropdown-hover">
      <button class="w3-button">Bandejas</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="{% url 'au_informe_tecnico' %}" class="w3-bar-item w3-button">Informe Tecnico</a>
            </div>
      </div>
         {% endif %}



        {% endfor %}
         {% if user.is_staff %}
             <a href="http://127.0.0.1:8000/admin/" class="w3-bar-item w3-button">Admin</a>
         {% endif %}


        {% if user.is_authenticated %}
           <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-black w3-right">Cerrar Sesion</a>

    <div class="w3-dropdown-hover w3-right">
    <button class="w3-button">{{ user.username }}</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-right">
        <a href="{% url 'password_change' %}" class="w3-bar-item w3-button w3-right">Cambiar Contraseña</a>
      </div>
    </div>

            <!--<a href="" class="w3-bar-item w3-button w3-black w3-right"> {{ user.username }}</a>-->
        {% endif %}
  </div>
{% endblock %}


    </header>

{% block body %} {% endblock %}

    <footer>

    </footer>

</body>
</html>