<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-P5JWTBQTLB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-P5JWTBQTLB');
</script>

	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.7/css/responsive.bootstrap4.min.css">

	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/responsive/2.2.7/js/dataTables.responsive.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/responsive/2.2.7/js/responsive.bootstrap4.min.js"></script>

    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>


    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css">
       <script src=" https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
   <script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
   <script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js"></script>


    <meta charset="UTF-8">
    {% block title %}  {% endblock %}
</head>
<body>
    <header>

{% block nav %}
        <div class="w3-bar w3-black ">
    <a href="{% url 'abogado_inicio' %}" class="w3-bar-item w3-button">{% load static %} <img class="logo_home" src="{% static 'img/logo_header.png' %}" alt="Servicio Electoral de Chile" /></a>
     <a href="{% url 'abogado_inicio' %}" class="w3-bar-item w3-button">Inicio</a>
            {% for group in user.groups.all %}


                {% if group.name == 'Administrador' or group.name == 'Jefe'%}
    <div class="w3-dropdown-hover">
      <button class="w3-button">Ingreso</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="{% url 'denuncias_ingreso' %}" class="w3-bar-item w3-button">Individual</a>
        <a href="{% url 'denuncias_ingreso_mass' %}" class="w3-bar-item w3-button">Masivo</a>


      </div>
      </div>
                    {% endif %}
         {% if group.name == 'Administrador'%}

                                                         <div class="w3-dropdown-hover">
      <button class="w3-button">Bandeja</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
         <a href="{% url 'denuncias_enviadas_ad' %}" class="w3-bar-item w3-button">Ingresados</a>
        <a href="{% url 'admin_despacho' %}" class="w3-bar-item w3-button">Despacho</a>

      </div>
      </div>

        {% endif %}
         {% if group.name == 'Jefe'%}
                                                         <div class="w3-dropdown-hover">
      <button class="w3-button">Bandeja Jefe</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
           <a href="{% url 'denuncias_enviadas_ad' %}" class="w3-bar-item w3-button">Ingresados</a>
        <a href="{% url 'jefe_evaluacion_act' %}" class="w3-bar-item w3-button">Validacion Activadas</a>
           <a href="{% url 'jefe_evaluacion_desact' %}" class="w3-bar-item w3-button">Validacion Desactivadas</a>
          <a href="{% url 'validacion_masiva' %}" class="w3-bar-item w3-button">Validacion Masiva</a>
      </div>
      </div>
                                     <div class="w3-dropdown-hover">
      <button class="w3-button">Reportes</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="#" class="w3-bar-item w3-button">Reporte General</a>
           <a href="#" class="w3-bar-item w3-button">Reporte 2</a>
           <a href="#" class="w3-bar-item w3-button">Reporte 3</a>
           <a href="#" class="w3-bar-item w3-button">Reporte 4</a>
      </div>
      </div>



                {% endif %}
         {% if group.name == 'Abogado' %}
                                     <div class="w3-dropdown-hover">
      <button class="w3-button">Bandeja</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">

          <a href="{% url 'abogado_evaluacion' %}" class="w3-bar-item w3-button">Evaluación</a>
        <a href="{% url 'abogado_comprobacion' %}" class="w3-bar-item w3-button">Comprobación</a>
           <a href="{% url 'abogado_rechazos' %}" class="w3-bar-item w3-button">Rechazados</a>
           <a href="{% url 'abogado_enviados' %}" class="w3-bar-item w3-button">Enviados</a>
            </div>
      </div>

                                                  <div class="w3-dropdown-hover">
      <button class="w3-button">Fiscalizacion</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="{% url 'alertas_asignadas' %}" class="w3-bar-item w3-button">Alertas Asignadas</a>
          <a href="{% url 'base_completa' %}" class="w3-bar-item w3-button">Base Total</a>


            </div>
      </div>

         {% endif %}
    {% if group.name == 'Encargado Regional' %}
                                     <div class="w3-dropdown-hover">
      <button class="w3-button">Bandeja Dirección Regional</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="{% url 'dr_evaluacion' %}" class="w3-bar-item w3-button">Evaluación</a>
        <a href="{% url 'dr_fiscalizacion' %}" class="w3-bar-item w3-button">Fiscalizacion</a>
           <a href="{% url 'dr_enviados' %}" class="w3-bar-item w3-button">Enviados</a>
            </div>
      </div>

         {% endif %}

            {% if group.name == 'GestionRecursos_Admin' %}
                                     <div class="w3-dropdown-hover">
      <button class="w3-button">Reportes</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="{% url 'admin_recursos_total' %}" class="w3-bar-item w3-button">Total Recursos</a>
        <a href="{% url 'admin_recursos_asigna' %}" class="w3-bar-item w3-button">Asignacion</a>
          <a href="{% url 'reporte_vista' %}" class="w3-bar-item w3-button">Reporte</a>
          <a href="{% url 'formatosydocumentos' %}" class="w3-bar-item w3-button">Formatos y Documentos</a>
            </div>
      </div>
                                                     <div class="w3-dropdown-hover">
      <button class="w3-button">Plebiscito</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="{% url 'total_solicitudes' %}" class="w3-bar-item w3-button">Total Solicitudes</a>
           <a href="{% url 'admin_recursos_asigna' %}" class="w3-bar-item w3-button">Asignacion</a>
      </div>
      </div>
         {% endif %}
         {% if group.name == 'GestionRecursos_LiderCelulas' %}
                                     <div class="w3-dropdown-hover">
      <button class="w3-button">Bandejas Recursos</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="{% url 'admin_recursos_total' %}" class="w3-bar-item w3-button">Total Recursos</a>
          <a href="{% url 'ld_recursos_asigna' %}" class="w3-bar-item w3-button">Bandeja Asignacion</a>
        <a href="{% url 'ld_valida_propuesta' %}" class="w3-bar-item w3-button">Bandeja Validacion Propuesta Resolucion</a>
           <a href="{% url 'reporte_vista' %}" class="w3-bar-item w3-button">Reporte</a>
          <a href="{% url 'formatosydocumentos' %}" class="w3-bar-item w3-button">Formatos y Documentos</a>
            </div>
      </div>
             <div class="w3-dropdown-hover">
      <button class="w3-button">Reportes</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
           <a href="{% url 'reporte_vista' %}" class="w3-bar-item w3-button">Reporte</a>
            </div>
      </div>
                                                                  <div class="w3-dropdown-hover">
      <button class="w3-button">Plebiscito</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="{% url 'total_solicitudes' %}" class="w3-bar-item w3-button">Total Solicitudes</a>

      </div>
      </div>
         {% endif %}

        {% if group.name == 'GestionRecursos_LiderAC' %}
                                     <div class="w3-dropdown-hover">
      <button class="w3-button">Bandejas Recursos</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="{% url 'ld_recursos_asigna' %}" class="w3-bar-item w3-button">Bandeja Asignacion</a>
          <a href="{% url 'ld_valida_propuesta' %}" class="w3-bar-item w3-button">Validacion Propuesta Resolucion Lider</a>
           <a href="{% url 'reporte_vista' %}" class="w3-bar-item w3-button">Reporte</a>
          <a href="{% url 'formatosydocumentos' %}" class="w3-bar-item w3-button">Formatos y Documentos</a>
          <a href="{% url 'admin_recursos_total' %}" class="w3-bar-item w3-button">Total Recursos</a>
            </div>
      </div>
             <div class="w3-dropdown-hover">
      <button class="w3-button">Reportes</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
           <a href="{% url 'reporte_vista' %}" class="w3-bar-item w3-button">Reporte</a>
            </div>
      </div>
         {% endif %}

        {% if group.name == 'GestionRecursos_GestorReclamaciones' %}
                                     <div class="w3-dropdown-hover">
      <button class="w3-button">Bandejas Reclamacion</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="{% url 'xv_genera_expediente' %}" class="w3-bar-item w3-button">1 Generacion y Firma Resolucion y Expediente</a>
          <a href="{% url 'xv_envia_tricel' %}" class="w3-bar-item w3-button">2 Envío a Tricel</a>
          <a href="{% url 'xv_monitoreo_sentencia' %}" class="w3-bar-item w3-button">3 Monitoreo Sentencias</a>

            </div>
      </div>
         {% endif %}

                        {% if group.name == 'GestionRecursos_JefeCelula' %}
                                     <div class="w3-dropdown-hover">
      <button class="w3-button">Bandejas Recursos</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="{% url 'jc_recursos_asigna' %}" class="w3-bar-item w3-button">Asignacion</a>
          <a href="{% url 'jc_valida_informe_tecnico' %}" class="w3-bar-item w3-button">Validacion Informe Tecnico</a>
          <a href="{% url 'jc_valida_propuesta' %}" class="w3-bar-item w3-button">Validacion Propuesta Resolucion</a>
          <a href="{% url 'formatosydocumentos' %}" class="w3-bar-item w3-button">Formatos y Documentos</a>
          <a href="{% url 'admin_recursos_total' %}" class="w3-bar-item w3-button">Total Recursos</a>
            </div>
      </div>
         {% endif %}

      {% if group.name == 'GestionRecursos_Auditor' %}
                                     <div class="w3-dropdown-hover">
      <button class="w3-button">Bandejas Recursos</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="{% url 'au_informe_tecnico' %}" class="w3-bar-item w3-button">Informe Tecnico</a>
          <a href="{% url 'au_informe_tecnico' %}" class="w3-bar-item w3-button">Informes Enviados</a>
          <a href="{% url 'formatosydocumentos' %}" class="w3-bar-item w3-button">Formatos y Documentos</a>
            </div>
      </div>
         {% endif %}

      {% if group.name == 'GestionRecursos_AbogadoC' %}
                                     <div class="w3-dropdown-hover">
      <button class="w3-button">Bandejas Recursos</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="{% url 'ab_elabora_propuesta' %}" class="w3-bar-item w3-button">Elaboracion Propuesta</a>
          <a href="{% url 'au_informe_tecnico' %}" class="w3-bar-item w3-button">Devuelto para Revisión</a>
          <a href="{% url 'formatosydocumentos' %}" class="w3-bar-item w3-button">Formatos y Documentos</a>

            </div>
      </div>
         {% endif %}
 {% if group.name == 'GestionRecursos_AbogadoValidador' %}
                                     <div class="w3-dropdown-hover">
      <button class="w3-button">Bandejas Validacion</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="{% url 'ab_valida_propuesta' %}" class="w3-bar-item w3-button">Validacion Propuesta Abogado Validador</a>
            </div>
      </div>
         {% endif %}

                 {% if group.name == 'GestionRecursos_JefeDivision' %}
                                     <div class="w3-dropdown-hover">
      <button class="w3-button">Bandejas Recursos</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="{% url 'admin_recursos_total' %}" class="w3-bar-item w3-button">Total Recursos</a>
                <a href="{% url 'jd_valida_propuesta' %}" class="w3-bar-item w3-button">Validacion Propuesta Resolucion</a>
             <a href="{% url 'reporte_vista' %}" class="w3-bar-item w3-button">Reporte</a>
            </div>
      </div>
         {% endif %}

                 {% if group.name == 'GestionRecursos_Subdirector' %}
                                     <div class="w3-dropdown-hover">
      <button class="w3-button">Bandejas Recursos</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="{% url 'admin_recursos_total' %}" class="w3-bar-item w3-button">Total Recursos</a>
                <a href="{% url 'sd_valida_propuesta' %}" class="w3-bar-item w3-button">Validacion Propuesta Resolucion</a>
                <a href="{% url 'reporte_vista' %}" class="w3-bar-item w3-button">Reporte</a>
      </div>
      </div>
         {% endif %}

                       {% if group.name == 'GestionRecursos_GestorDocumentos' %}
                                     <div class="w3-dropdown-hover">
      <button class="w3-button">Bandejas Firma</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="{% url 'gd_subir_a_firma' %}" class="w3-bar-item w3-button">1 Subir a Firma</a>
          <a href="{% url 'gd_en_firma_director' %}" class="w3-bar-item w3-button">2 En Firma Director</a>
          <a href="{% url 'gd_subir_sge' %}" class="w3-bar-item w3-button">3 Subir a SGE</a>

            </div>
      </div>
         {% endif %}

                                       {% if group.name == 'GestionRecursos_Visualizacion' %}
                                     <div class="w3-dropdown-hover">
      <button class="w3-button">Recursos</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="{% url 'admin_recursos_total' %}" class="w3-bar-item w3-button">Total Recursos</a>
            </div>
      </div>
         {% endif %}

                                       {% if group.name == 'GestionRecursos_Financiamiento' %}
                                     <div class="w3-dropdown-hover">
      <button class="w3-button">Bandejas Recursos</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="{% url 'admin_recursos_total' %}" class="w3-bar-item w3-button">Total Recursos</a>
          <a href="{% url 'fin_revision_pagos' %}" class="w3-bar-item w3-button">Revision Pagos</a>

            </div>
      </div>
         {% endif %}
                                       {% if group.name == 'Plebiscito_RevisorInscripciones' %}
                                                     <div class="w3-dropdown-hover">
      <button class="w3-button">Plebiscito</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="{% url 'total_solicitudes' %}" class="w3-bar-item w3-button">Total Solicitudes</a>
          <a href="{% url 'revision_inscripciones' %}" class="w3-bar-item w3-button">Bandeja Revision</a>

      </div>
      </div>
         {% endif %}


                                                       {% if group.name == 'GestionRecursos_Notificaciones' %}
                                     <div class="w3-dropdown-hover">
      <button class="w3-button">Bandejas Recursos</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="{% url 'admin_recursos_total' %}" class="w3-bar-item w3-button">Total Recursos</a>
          <a href="{% url 'gd_en_notificacion' %}" class="w3-bar-item w3-button">Notificaciones</a>

            </div>
      </div>
         {% endif %}

      {% if group.name == 'AlertasFiscalizacion_Jefe' %}
                                     <div class="w3-dropdown-hover">
      <button class="w3-button">Fiscalizacion</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="{% url 'alertas' %}" class="w3-bar-item w3-button">Alertas</a>
          <a href="{% url 'base_completa' %}" class="w3-bar-item w3-button">Base Total</a>


            </div>
      </div>

         {% endif %}
                {% if group.name == 'Consultas' %}
                                     <div class="w3-dropdown-hover">
      <button class="w3-button">Consultas</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="{% url 'consultas_nuevas' %}" class="w3-bar-item w3-button">Nuevas</a>
          <a href="{% url 'consultas_respuesta' %}" class="w3-bar-item w3-button">Respondiendo</a>
          {% if group.name == 'Consultas_Financiamiento' %}
              <a href="{% url 'consultas_envio_respuestas' %}" class="w3-bar-item w3-button">Envío</a>
              {% endif %}
          <a href="{% url 'consultas_respondidas' %}" class="w3-bar-item w3-button">Resueltas</a>
          <a href="{% url 'total_consultas' %}" class="w3-bar-item w3-button">Total</a>

            </div>



      </div>
         {% endif %}

                  {% if group.name == 'Consultas_Financiamiento' %}
                                     <div class="w3-dropdown-hover">
      <button class="w3-button">Envio Respuestas</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">

              <a href="{% url 'consultas_envio_respuestas' %}" class="w3-bar-item w3-button">Envío</a>

            </div>



      </div>
         {% endif %}


                   {% if group.name == 'EncargadoControlPreventivo' %}
                                     <div class="w3-dropdown-hover">
      <button class="w3-button">SCP</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">

              <a href="{% url 'admin_asignacion_candidato' %}" class="w3-bar-item w3-button">Asignacion Candidatos</a>
              <a href="{% url 'admin_asignacion_candidato' %}" class="w3-bar-item w3-button">Asignacion Partidos</a>
              <a href="{% url 'admin_asignacion_candidato' %}" class="w3-bar-item w3-button">Reporte Total</a>

            </div>



      </div>
         {% endif %}


        {% endfor %}
         {% if user.is_staff %}
            {% if 'serv.jasb.cl' in request.build_absolute_uri %}
             <a href="https://serv.jasb.cl/admin/" class="w3-bar-item w3-button">Admin</a>
            {% else %}
             <a href="http://127.0.0.1:8000/admin/" class="w3-bar-item w3-button">Admin</a>
            {% endif %}
         {% endif %}


        {% if user.is_authenticated %}
           <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-black w3-right">Cerrar Sesion</a>

    <div class="w3-dropdown-hover w3-right">
    <button class="w3-button">{{ user.username }}</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-right">
        <a href="{% url 'password_change' %}" class="w3-bar-item w3-button w3-right">Cambiar Contraseña</a>
      </div>
    </div>

            <!--<a href="" class="w3-bar-item w3-button w3-black w3-right"> {{ user.username }}</a>-->
        {% endif %}
  </div>


{% endblock %}


    </header>

{% block body %} {% endblock %}

    <footer>

    </footer>

</body>
</html>