{% extends 'GestionDenuncias/base.html' %}
{% block title %} <title>Sistema de Gestion de Denuncias</title> {% endblock %}

{% block body %}

            <script type="text/javascript" class="init">


$(document).ready(function() {
	$('#example2').DataTable({
        "language": {
            "lengthMenu": "Ver _MENU_ registros por pagina",
            "zeroRecords": "Sin Resultados",
            "info": "Mostrando pagina _PAGE_ de _PAGES_",
            "infoEmpty": "Sin Resultados",
            "infoFiltered": "(filtrado de _MAX_ registros)"
        },
               dom: 'lfrtBip',
        buttons: [
             {
      extend: 'excel',
      exportOptions: {

          format: {
              body: function(data, row, column, node) {
                  data = $('<p>' + data + '</p>').text();
                  return $.isNumeric(data.replace(',', '.')) ? data.replace(',', '.') : data;
              }
          }
      }
  }
        ]



    } );
} );</script>


<div class="w3-responsive">

<section class="section1">
<h3>Bandeja Denuncias Pendientes Evaluación</h3>

    <table id="example2" class="table table-striped table-bordered dt-responsive" style="width:100%">
    <thead>
        <tr>
            <th>Numero</th>
            <th>Fecha Ingreso</th>
            <th>Via de Ingreso</th>
            <th>Nombre Denunciante</th>
            <th>Nombre Denunciado</th>
            <th style="text-align:center">Adjuntos</th>
            <th colspan="2" style="text-align:center">¿Es Posible Efectuar Fiscalizacion en Terreno?</th>
            <th>Observaciones</th>


        </tr>

            </thead>
    <tbody>

        {% for denuncia in todasdenuncias %}

        <tr>
            <td>{{ denuncia.numero }}</td>
            <td>{{ denuncia.fecha_ingreso|date:'d-m-y' }}</td>
            <td>{{ denuncia.via_de_ingreso }}</td>
            <td>{{ denuncia.nombre_denunciante }}</td>
            <td>{{ denuncia.nombre_denunciado }}</td>
            <td style="text-align:center" > <a class="btn btn-outline-primary" href="{{ denuncia.link_adjuntos }}">Ver</a></td>
            <td style="text-align:center"><button class="btn btn-success" onclick="esposible({{ denuncia.id }})">SI</button></td>
            <td style="text-align:center"><button class="btn btn-danger" onclick="noesposible({{ denuncia.id }})">NO</button></td>
            <td>{{ denuncia.obs_ingreso }}</td>
        </tr>

        {% endfor %}
    </tbody>
    </table>


</section>
</div>



    <script type="text/javascript">
    var order;
 function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');

  function noesposible(denuncia) {

      var motivo = prompt("Favor Ingresar Motivo:", "...");
      if (motivo == null) {
          console.log('User cancelled the prompt.');
      } else {
          console.log('Denuncia ' + denuncia + 'Rechazada Por ' + motivo);
          modifica_denuncia(denuncia, motivo, 'noesposible');
      }
      ;
  }

  function esposible(denuncia) {

  if (confirm('¿Esta Seguro que Seleccionar la Opcion Si?')) {
  // Save it!
  console.log('Finalizando orden N°'+ denuncia);
  modifica_denuncia(denuncia, 'ACEPTADO', 'esposible');

} else {
  // Do nothing!
  console.log('No Finalizado Confirmado');
}

}
    function modifica_denuncia(denuncia, motivo, tipo) {

        var datos = {
				'id_denuncia': denuncia,
                'motivo_rechazo': motivo,
                'tipo': tipo,
                'categoria': 'dr',

			}
    var url = "/sgd/j/modifica_denuncia/"
        fetch(url, {
	    		method:'POST',
	    		headers:{
	    			'Content-Type': 'application/json',
                    'Accept': 'application/json',
	    			'X-CSRFToken':csrftoken
	    		},
	    		body:JSON.stringify({'datos':datos}),

	    	})
            .then((response) => response.json())
            .then(window.location.href = "{% url 'dr_evaluacion' %}")


      }
    </script>


{% endblock %}