{% extends 'GestionDenuncias/base.html' %}
{% block title %} <title>Sistema de Gestion de Denuncias</title> {% endblock %}

{% block body %}

    <script type="text/javascript" class="init">
$(document).ready(function() {
	$('#example').DataTable({
        "language": {
            "lengthMenu": "Ver _MENU_ registros por pagina",
            "zeroRecords": "Sin Resultados",
            "info": "Mostrando pagina _PAGE_ de _PAGES_",
            "infoEmpty": "Sin Resultados",
            "infoFiltered": "(filtrado de _MAX_ registros)"
        },
               dom: 'rtBip',
        buttons: [
             {
      extend: 'excel',
      exportOptions: {

          format: {
              body: function(data, row, column, node) {
                  data = $('<p>' + data + '</p>').text();
                  return $.isNumeric(data.replace(',', '.')) ? data.replace(',', '.') : data;
              }
          }
      }
  }
        ]



    } );
} );</script>

<div class="w3-responsive">
<div class = "w3-row">
     <div class="w3-half w3-container">
 <br>
<h4>Recepción de Masiva de Denuncias</h4>
         <br>
<table>
<form action=" {% url 'denuncias_ingreso_mass' %}" method="post" enctype ="multipart/form-data">
    {% csrf_token %}
    {{ form.as_table }}



</table>
<br>
<input class= "btn btn-dark btn-lg btn-block" type="submit" value ="Ingresar y Enviar a Evaluación" onClick="return confirm('¿Seguro que quieres Agregar la Denuncia?');">
         </form>
         </div>
    <div class="w3-half w3-container">
         <br>
        <h4> Asignaciones Actuales</h4>
        <br>
     <table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
        <thead>
            <tr>
                <th>Abogado</th>
                <th>Denuncias Asignadas</th>
                <th>Denuncias Asignadas</th>
                <th>Denuncias Asignadas</th>
            </tr>
        </thead>
     <tbody>
        {% for abogado in lista_abogados %}
            <tr>
        <td>{{ abogado.nombre }} </td>
        <td>{{abogado.denuncias_set.count }}</td>
        <td>{{abogado.denuncias_set.count }}</td>
        <td>{{abogado.denuncias_set.count }}</td>
            </tr>
        {% endfor %}
             </tbody>
    </table>
        </div>
</div>
</div>
    <br>
{% endblock %}