{% extends 'GestionDenuncias/base.html' %}
{% block title %} <title>Sistema de Gestion de Denuncias</title> {% endblock %}

{% block body %}

            <script type="text/javascript" class="init">


$(document).ready(function() {
	$('#example2').DataTable({
        "language": {
            "lengthMenu": "Ver _MENU_ registros por pagina",
            "zeroRecords": "Sin Resultados",
            "info": "Mostrando pagina _PAGE_ de _PAGES_",
            "infoEmpty": "Sin Resultados",
            "infoFiltered": "(filtrado de _MAX_ registros)"
        },
               dom: 'lfrtBip',
        buttons: [
             {
      extend: 'excel',
      exportOptions: {

          format: {
              body: function(data, row, column, node) {
                  data = $('<p>' + data + '</p>').text();
                  return $.isNumeric(data.replace(',', '.')) ? data.replace(',', '.') : data;
              }
          }
      }
  }
        ]



    } );
} );</script>


<div class="w3-responsive">

<section class="section1">
<h3>Bandeja Denuncias Desactivadas Validación</h3>

    <table id="example2" class="table table-striped table-bordered dt-responsive" style="width:100%">
    <thead>
        <tr>
            <th>Numero</th>
            <th>Fecha Ingreso</th>
            <th>Asignacion</th>
            <th>Nombre Denunciante</th>
            <th>Nombre Denunciado</th>
            <th style="text-align:center">Adjuntos</th>
            <th colspan="2" style="text-align:center">Accion</th>
            <th>Cod. Desactiv</th>
            <th>Obs. Abogado</th>
            <th>Ver Todo</th>

        </tr>

            </thead>
    <tbody>

        {% for denuncia in todasdenuncias %}

        <tr>
            <td>{{ denuncia.numero }}</td>
            <td>{{ denuncia.fecha_ingreso|date:'d-m-y' }}</td>
            <td>{{ denuncia.abogado_asistente }}</td>
            <td>{{ denuncia.nombre_denunciante }}</td>
            <td>{{ denuncia.nombre_denunciado }}</td>
            <td style="text-align:center" > <a class="btn btn-outline-primary" href="{{ denuncia.link_adjuntos }}">Ver</a></td>
            <td><a class="btn btn-success" href="{% url 'gestion-denuncia_ac' id_denuncia=denuncia.id %}">Aceptar</a></td>
            <td><a class="btn btn-danger" href="{% url 'gestion-denuncia_desac' id_denuncia=denuncia.id %}">Rechazar</a></td>
            <td>{{ denuncia.codigo_desactivacion }}</td>
            <td>{{ denuncia.obs_abogado }}</td>
        <td  style="text-align:center"><a class="btn btn-info" href="{% url 'gestion-denuncia_desac' id_denuncia=denuncia.id %}">Ir</a></td>
        </tr>

        {% endfor %}
    </tbody>
    </table>


</section>
</div>
{% endblock %}