{% extends 'GestionDenuncias/base.html' %}
{% block title %} <title>Actas de Fiscalizacion</title> {% endblock %}

{% block body %}


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



            <script type="text/javascript" class="init">


$(document).ready(function() {
	$('#example2').DataTable({
        "language": {
            "lengthMenu": "Ver _MENU_ registros por pagina",
            "zeroRecords": "Sin Resultados",
            "info": "Mostrando pagina _PAGE_ de _PAGES_",
            "infoEmpty": "Sin Resultados",
            "infoFiltered": "(filtrado de _MAX_ registros)"
        },
               dom: 'lfrtBip',
        buttons: [
             {
      extend: 'excel',
      exportOptions: {

          format: {
              body: function(data, row, column, node) {
                  data = $('<p>' + data + '</p>').text();
                  return $.isNumeric(data.replace(',', '.')) ? data.replace(',', '.') : data;
              }
          }
      }
  }
        ]



    } );
} );
            function goBack() {
  window.history.back();
}

            </script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<div class="w3-responsive">

<section class="section1">
<h3>Actas Remotas - Pendientes de Clasificación</h3>
<div style="display:flex; justify-content:flex-end; width:100%; padding:0;">
    <td style="position: absolute; right: 0;"> <button class="btn btn-outline-success" data-toggle="modal" data-target="#motivoModalmasivo">Pasar Seleccionados</button></td>



</div>
<div style="display:flex; justify-content:flex-end; width:100%; padding:0;">


</div>

    <table id="example2" class="table table-striped table-bordered dt-responsive" style="width:100%">
    <thead>
        <tr>
            <th>ID Inspeccion</th>
            <th>Fecha Inspeccion</th>
            <th>Nombre del Fiscalizador</th>
            <th>Sujeto Fiscalizado</th>
            <th>Motivo Inspeccion</th>
            <th>Medio Fiscalizado</th>

            <th>Detalle</th>
            <th style="text-align: center">Clasificación</th>
            <th style="text-align: center">Código</th>
            <th style="text-align: center">Acción</th>
        </tr>
            </thead>
    <tbody>
        {% load humanize %}
        {% for acta in actas_remota %}

       <tr>

            <td>{{ acta.id_inspeccion}}</td>
            <td>{{ acta.fecha|date:'Ymd'}}</td>
            <td>{{ acta.creator}}</td>
                        <td>{% if acta.sujeto_fiscalizado == 'otro' %} {{ acta.otro_sujeto_fiscalizado}}
            {% elif acta.sujeto_fiscalizado == 'partido_habilitado'%} {{ acta.partido_politico_habilitado }}
            {% elif acta.sujeto_fiscalizado == 'alcalde'%} {{ acta.alcalde }}
            {% elif acta.sujeto_fiscalizado == 'gore'%} {{ acta.gore }}
            {% else %} Sin Despliegue{% endif %}</td>
            <td>{{ acta.seleccion_motivo_inspeccion}}</td>
            <td>{{ acta.medio_fiscalizado }}</td>

           <td style="text-align: center"> <button class="btn btn-info details-btn" data-toggle="modal" data-target="#detailsModal{{ acta.global_id }}">Ver</button></td>

<td>
    <select
      name="status_clasificacion"
      id="selectorClasificacion{{ acta.global_id|stringformat:'s' }}"
      onchange="updateButtonStatus('{{ acta.global_id|stringformat:'s' }}')"
    >
      <option value="Pendiente" selected>Pendiente</option>
      <option value="con_infraccion">Con Infracción</option>
      <option value="archivo">Archivo</option>
    </select>
</td>
<td>
    <select
      name="status_codigo"
      id="selectorCodigo{{ acta.global_id|stringformat:'s' }}"
      onchange="updateButtonStatus('{{ acta.global_id|stringformat:'s' }}')"
    >
      <option value="Pendiente" selected>Pendiente</option>
<option value="p1">P1</option>
<option value="p2">P2</option>
<option value="p3">P3</option>
<option value="p3-b">P3-B</option>
<option value="p4">P4</option>
<option value="p5">P5</option>
<option value="p5-b">P5-B</option>
<option value="p5-c">P5-C</option>
<option value="p6">P6</option>
<option value="p6-b">P6-B</option>
<option value="p7">P7</option>
<option value="p9">P9</option>
<option value="p10">P10</option>
<option value="p11">P11</option>
<option value="p12">P12</option>
<option value="p13">P13</option>
<option value="p14">P14</option>
<option value="p15">P15</option>
<option value="p16">P16</option>
<option value="p17">P17</option>
<option value="p19">P19</option>
<option value="p20">P20</option>
<option value="p21">P21</option>
<option value="p22">P22</option>
<option value="p25">P25</option>
<option value="p26">P26</option>
<option value="p27">P27</option>
<option value="p28">P28</option>
<option value="p29">P29</option>
<option value="p29-b">P29-B</option>
<option value="p30">P30</option>
<option value="p100">P100</option>
<option value="G1">G1</option>
<option value="G2">G2</option>

    </select>
</td>
  <td style="text-align: center">
    <a
        class="btn btn-success"
        id="pasar{{ acta.global_id|stringformat:'s' }}"
        data-toggle="modal" data-target="#motivoModal{{ acta.global_id|stringformat:'s' }}"
        disabled
    >
        Siguiente
    </a>

  </td>
</tr>

            <!-- Modal -->
<div class="modal fade" id="detailsModal{{ acta.global_id }}" tabindex="-1" aria-labelledby="detailsModalLabel{{ acta.global_id }}" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel{{ acta.global_id }}">Detalles del Acta {{ acta.object_id }}</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <!-- 1. Datos generales -->
                {% if acta.id_inspeccion %}<p><strong>ID Inspección:</strong> {{ acta.id_inspeccion }}</p>{% endif %}
                {% if acta.fecha %}<p><strong>Fecha:</strong> {{ acta.fecha }}</p>{% endif %}
                {% if acta.region %}<p><strong>Región:</strong> {{ acta.region }}</p>{% endif %}

                <!-- 2. Motivo de inspección -->
                {% if acta.seleccion_motivo_inspeccion %}<p><strong>Selección Motivo Inspección:</strong> {{ acta.seleccion_motivo_inspeccion }}</p>{% endif %}
                {% if acta.indique_folio %}<p><strong>Folio Denuncia:</strong> {{ acta.indique_folio_denuncia }}</p>{% endif %}
                {% if acta.indique_otro %}<p><strong>Indique Otro:</strong> {{ acta.indique_otro }}</p>{% endif %}

                <!-- 3. Sujeto fiscalizado -->
                {% if acta.sujeto_fiscalizado %}<p><strong>Sujeto Fiscalizado:</strong> {{ acta.sujeto_fiscalizado }}</p>{% endif %}
                {% if acta.partido_politico_habilitado %}<p><strong>Partido Político Habilitado:</strong> {{ acta.partido_politico_habilitado }}</p>{% endif %}
                {% if acta.otro_sujeto_fiscalizado %}<p><strong>Otro Sujeto Fiscalizado:</strong> {{ acta.otro_sujeto_fiscalizado }}</p>{% endif %}
                {% if acta.alcalde %}<p><strong>Nombre:</strong> {{ acta.alcalde }}</p>{% endif %}
                {% if acta.gore %}<p><strong>Nombre:</strong> {{ acta.gore }}</p>{% endif %}

                <!-- 4. Opción plebiscitaria -->
                {% if acta.opcion_plebiscitaria %}<p><strong>Opción Plebiscitaria:</strong> {{ acta.opcion_plebiscitaria }}</p>{% endif %}

                <!-- 5. Materia fiscalizada -->
                {% if acta.es_medio_pagado %}<p><strong>Es Medio Pagado:</strong> {{ acta.es_medio_pagado }}</p>{% endif %}
                {% if acta.medio_fiscalizado %}<p><strong>Medio Fiscalizado:</strong> {{ acta.medio_fiscalizado }}</p>{% endif %}
                {% if acta.nombre_medio %}<p><strong>Nombre Medio:</strong> {{ acta.nombre_medio }}</p>{% endif %}
                {% if acta.soporte_material_link %}<p><strong>Soporte Material Link:</strong> <a href="{{ acta.soporte_material_link }}"> Link</a></p>{% endif %}
                {% if acta.medio_tiene_tarifario %}<p><strong>Tiene Tarifario:</strong> {{ acta.medio_tiene_tarifario }}</p>{% endif %}
                {% if acta.radiofrecuencia_medio %}<p><strong>Radiofrecuencia Medio:</strong> {{ acta.radiofrecuencia_medio }}</p>{% endif %}
                {% if acta.rrss_fiscalizada %}<p><strong>RRSS Fiscalizada:</strong> {{ acta.rrss_fiscalizada }}</p>{% endif %}
                {% if acta.usuario_perfil_rrss %}<p><strong>Usuario Perfil RRSS:</strong> {{ acta.usuario_perfil_rrss }}</p>{% endif %}
                {% if acta.corresponde_medio_prensa %}<p><strong>Corresponde Medio Prensa:</strong> {{ acta.corresponde_medio_prensa }}</p>{% endif %}
                {% if acta.otro_antecente %}<p><strong>Otro Antecedente:</strong> {{ acta.otro_antecente }}</p>{% endif %}

                {% if acta.medios_respaldo_adjunto %}
                <p><strong>Adjuntos:</strong>
                    <a href="{{ acta.medios_respaldo_adjunto }}?token={{ latest_token.Token }}" target="_blank">
                        <img src="{{ acta.medios_respaldo_adjunto }}?token={{ latest_token.Token }}" style="width: 100px; height: auto; cursor: pointer;" alt=""/>
                    </a>
                                  <a href="{{ acta.adjunto2 }}?token={{ latest_token.Token }}" target="_blank">
                        <img src="{{ acta.adjunto2 }}?token={{ latest_token.Token }}" style="width: 100px; height: auto; cursor: pointer;" alt=""/>
                    </a>
                    </a>
                                  <a href="{{ acta.adjunto3 }}?token={{ latest_token.Token }}" target="_blank">
                        <img src="{{ acta.adjunto3 }}?token={{ latest_token.Token }}" style="width: 100px; height: auto; cursor: pointer;" alt=""/>
                    </a>

                    </a>
                                  <a href="{{ acta.adjunto4 }}?token={{ latest_token.Token }}" target="_blank">
                        <img src="{{ acta.adjunto4 }}?token={{ latest_token.Token }}" style="width: 100px; height: auto; cursor: pointer;" alt=""/>
                    </a>
                                    </a>
                                  <a href="{{ acta.adjunto5 }}?token={{ latest_token.Token }}" target="_blank">
                        <img src="{{ acta.adjunto5 }}?token={{ latest_token.Token }}" style="width: 100px; height: auto; cursor: pointer;" alt=""/>
                    </a>
                                    </a>
                                  <a href="{{ acta.adjunto6 }}?token={{ latest_token.Token }}" target="_blank">
                        <img src="{{ acta.adjunto6 }}?token={{ latest_token.Token }}" style="width: 100px; height: auto; cursor: pointer;" alt=""/>
                    </a>
                </p>
                {% endif %}


                            {% if acta.ingrese_audios %}
                <p><strong>Audio:</strong>
{% if acta.ingrese_audios %}
    <audio controls>
        <source src="{{ acta.ingrese_audios }}?token={{ latest_token.Token }}" type="audio/wav">
        Your browser does not support the audio element.
    </audio>
{% endif %}


                </p>
                {% endif %}


                {% if acta.link_firma_cargo_timbre %}<p><strong>Link Firma y Cargo con Timbre:</strong> <a href="{{ acta.link_firma_cargo_timbre }}?token={{ latest_token.Token }}" target="_blank">Ver Firma</a></p>{% endif %}
            </div>
        </div>
    </div>
</div>



            <!-- Modal para ver imagen grande -->
<div class="modal fade" id="imageModal{{ acta.global_id }}" tabindex="-1" aria-labelledby="imageModalLabel{{ acta.global_id }}" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel{{ acta.global_id }}">Adjunto del Acta {{ acta.global_id }}</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="{{ acta.medios_respaldo_adjunto }}?token={{ latest_token.Token }}" style="width: 100%; height: auto;" alt="Imagen adjunta"/>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="motivoModal{{ acta.global_id }}" tabindex="-1" role="dialog" aria-labelledby="motivoModalLabel{{ acta.global_id }}" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="motivoModalLabel{{ acta.global_id }}">Ingresar Motivo</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="formMotivo{{ acta.global_id }}">
          <div class="mb-3">
            <label for="motivoInput{{ acta.global_id }}" class="form-label">Motivo</label>
            <input type="text" class="form-control" id="motivoInput{{ acta.global_id }}" name="motivo">
          </div>
          <a id="finalizar{{ acta.global_id|stringformat:'s' }}" class="btn btn-primary" onclick="pasar('{{ acta.global_id|stringformat:'s' }}')">Finalizar</a>
        </form>
      </div>
    </div>
  </div>
</div>




        {% endfor %}

    <!-- Modal -->
<div class="modal fade" id="motivoModalmasivo" tabindex="-1" role="dialog" aria-labelledby="motivoModalLabelmasivo" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="motivoModalLabelmasivo">Ingresar Motivo</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="formMotivomasivo">
          <div class="mb-3">
            <label for="motivoInputmasivo" class="form-label">Motivo</label>
            <input type="text" class="form-control" id="motivoInputmasivo" name="motivo">
          </div>
          <a id="finalizarmasivo" class="btn btn-primary" onclick="asignar_todos()">Finalizar</a>
        </form>
      </div>
    </div>
  </div>
</div>




    </tbody>
    </table>
<td style="text-align:center" > <button class="btn btn-warning" onclick="goBack()">Volver</button></td>

</section>
</div>

        <script type="text/javascript">
    var order;
 function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');


  function pasar(global_id) {




    const selectorClasificacion = document.getElementById(`selectorClasificacion${global_id}`);
    const selectorCodigo = document.getElementById(`selectorCodigo${global_id}`);
    const inputmotivo = document.getElementById(`motivoInput${global_id}`);

    const clasificacionValue = selectorClasificacion.value;
    const codigoValue = selectorCodigo.value;
    const inputmotivoValue = inputmotivo.value;

   console.log(clasificacionValue);
   console.log(codigoValue);
    // Habilitar el botón según las condiciones dadas
    if (clasificacionValue === "archivo") {
        console.log("Entramos a archivo");
        if (confirm('¿Esta Seguro que desea Archivar?')) {
          // Save it!

            pasar_etapa(global_id, 'archivo_remota', 'archivo', inputmotivoValue);
            setTimeout(() => {   return window.location.replace("{% url 'remota_pendiente_clasificacion' %}"); }, 1000);
        } else {
          // Do nothing!
          console.log('No Finalizado Confirmado');
}
    } else if (clasificacionValue === "con_infraccion" && codigoValue !== "Pendiente") {
        if (confirm('¿Esta Seguro que Desea Pasar la Etapa Con Infracción?')) {
          // Save it!

          pasar_etapa(global_id, 'con_infraccion_revisor_remota', codigoValue, inputmotivoValue);
            setTimeout(() => {   return window.location.replace("{% url 'remota_pendiente_clasificacion' %}"); }, 1000);
        } else {
          // Do nothing!
          console.log('No Finalizado Confirmado');
        }
        console.log("Entramos a coninfraccion")
    } else {
        console.log("deshabilita")
        window.alert("Datos Faltantes");
    }


}

 function pasar_individual_masivo(global_id) {


    const selectorClasificacion = document.getElementById(`selectorClasificacion${global_id}`);
    const selectorCodigo = document.getElementById(`selectorCodigo${global_id}`);
    const inputmotivomasivo = document.getElementById(`motivoInputmasivo`);

    const clasificacionValue = selectorClasificacion.value;
    const codigoValue = selectorCodigo.value;
    const inputmotivomasivoValue = inputmotivomasivo.value;

    // Habilitar el botón según las condiciones dadas
    if (clasificacionValue === "archivo") {
        console.log("Entramos a archivo");

          // Save it!

            pasar_etapa(global_id, 'archivo_remota', 'archivo', inputmotivomasivoValue);
    } else if (clasificacionValue === "con_infraccion" && codigoValue !== "Pendiente") {
        pasar_etapa(global_id, 'con_infraccion_revisor_remota', codigoValue, inputmotivomasivoValue);
         console.log("Entramos a coninfraccion")
    }

}


    function pasar_etapa(global_id,etapa,codigo, inputmotivomasivoValue) {

        var datos = {
                'respuesta':'',
				'global_id': global_id.toString(),
                'etapa': etapa.toString(),
                'codigo' : codigo.toString(),
                'inputmotivoValue' : inputmotivomasivoValue.toString()
			}
    var url = "/sgd/pasar_acta/"
        fetch(url, {
	    		method:'POST',
	    		headers:{
	    			'Content-Type': 'application/json',
                    'Accept': 'application/json',
	    			'X-CSRFToken':csrftoken
	    		},
	    		body:JSON.stringify({'datos':datos}),

	    	})
            .then((response) => response.json())
            }

    function asignar_todos() {

  if (confirm('¿Esta Seguro que Desea Clasificar Todos los Modificados?')) {
  // Save it!
  console.log('Asignar Recurso N°');

       {% for acta in actas_remota %}
        {% if acta.sis_clasificacion == 'Pendiente'%}
              try {
                  pasar_individual_masivo('{{ acta.global_id }}');
              }
              catch (e) {

                console.log(e); // pasa el objeto de la excepción al manejador de errores
                    }
        {% endif %}
        {% endfor %}
  window.alert('Listo');
  return window.location.replace("{% url 'remota_pendiente_clasificacion' %}")
} else {
  // Do nothing!
  console.log('No Finalizado Confirmado');
}}



</script>



{% endblock %}