{% extends 'GestionDenuncias/base.html' %}
{% block title %} <title>Actas de Fiscalizacion</title> {% endblock %}

{% block body %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



            <script type="text/javascript" class="init">


$(document).ready(function() {
	$('#example2').DataTable({
        "language": {
            "lengthMenu": "Ver _MENU_ registros por pagina",
            "zeroRecords": "Sin Resultados",
            "info": "Mostrando pagina _PAGE_ de _PAGES_",
            "infoEmpty": "Sin Resultados",
            "infoFiltered": "(filtrado de _MAX_ registros)"
        },
               dom: 'lfrtBip',
        buttons: [
             {
      extend: 'excel',
      exportOptions: {

          format: {
              body: function(data, row, column, node) {
                  data = $('<p>' + data + '</p>').text();
                  return $.isNumeric(data.replace(',', '.')) ? data.replace(',', '.') : data;
              }
          }
      }
  }
        ]



    } );
} );
            function goBack() {
  window.history.back();
}

            </script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<div class="w3-responsive">

<section class="section1">
<h3>Actas en Terreno - Con Infracción</h3>


<div style="display:flex; justify-content:flex-end; width:100%; padding:0;">


</div>

    <table id="example2" class="table table-striped table-bordered dt-responsive" style="width:100%">
    <thead>
        <tr>
            <th>ID Inspeccion</th>
            <th>Fecha Inspeccion</th>
            <th>Comuna</th>
            <th>Nombre del Fiscalizador</th>
            <th>Sujeto Fiscalizado</th>
            <th>Motivo Inspeccion</th>
            <th>Materia Fiscalizada</th>
            <th>Opción</th>
            <th>Detalle</th>
            <th>Gestiones</th>

        </tr>
            </thead>
    <tbody>
        {% load humanize %}
        {% for acta in actas_terreno %}

       <tr>

            <td>{{ acta.id_inspeccion}}</td>
            <td>{{ acta.fecha|date:'Ymd'}}</td>
         <td>{{ acta.comuna }}</td>
            <td>{{ acta.creator}}</td>
<td>
    {% with "" as nombres %}
        {% if acta.candidato_alcalde %}
            {% if nombres %}{{ nombres }} - {% endif %}
            {% with nombres=nombres|add:acta.candidato_alcalde|add:" (Alcalde)" %}
                {{ nombres }}
            {% endwith %}
        {% endif %}
        {% if acta.candidato_gore %}
            {% if nombres %}{{ nombres }} - {% endif %}
            {% with nombres=nombres|add:acta.candidato_gore|add:" (Gore)" %}
                {{ nombres }}
            {% endwith %}
        {% endif %}
        {% if acta.candidato_core %}
            {% if nombres %}{{ nombres }} - {% endif %}
            {% with nombres=nombres|add:acta.candidato_core|add:" (Core)" %}
                {{ nombres }}
            {% endwith %}
        {% endif %}
        {% if acta.candidato_concejal %}
            {% if nombres %}{{ nombres }} - {% endif %}
            {% with nombres=nombres|add:acta.candidato_concejal|add:" (Concejal)" %}
                {{ nombres }}
            {% endwith %}
        {% endif %}
    {% endwith %}

    {% if not nombres %} {% endif %}
</td>

            <td>{{ acta.seleccion_motivo_inspeccion}}</td>
       <td>{{ acta.materia_fiscalizada }}</td>
           <td>{{ acta.opcion_plebiscitaria }}</td>
           <td style="text-align: center"> <button class="btn btn-info details-btn" data-toggle="modal" data-target="#detailsModal{{ acta.global_id }}">Ver</button></td>
         <td style="text-align: center"> <a href="{% url 'terreno_con_infraccion_gestiones' id=acta.global_id %}" class="btn btn-success">Ir</a></td>




</tr>

            <!-- Modal -->
<div class="modal fade" id="detailsModal{{ acta.global_id }}" tabindex="-1" aria-labelledby="detailsModalLabel{{ acta.global_id }}" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel{{ acta.global_id }}">Detalles del Acta {{ acta.object_id }}</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <!-- 1. Datos generales -->
                {% if acta.id_inspeccion %}<p><strong>ID Inspección:</strong> {{ acta.id_inspeccion }}</p>{% endif %}
                {% if acta.fecha %}<p><strong>Fecha:</strong> {{ acta.fecha }}</p>{% endif %}
                {% if acta.region %}<p><strong>Región:</strong> {{ acta.region }}</p>{% endif %}
                {% if acta.ubicacion %}<p><strong>Ubicación:</strong> {{ acta.ubicacion }}</p>{% endif %}
                {% if acta.comuna %}<p><strong>Comuna:</strong> {{ acta.comuna }}</p>{% endif %}

                <!-- 2. Motivo de inspección -->
                {% if acta.seleccion_motivo_inspeccion %}<p><strong>Selección Motivo Inspección:</strong> {{ acta.seleccion_motivo_inspeccion }}</p>{% endif %}
                {% if acta.indique_folio_denuncia %}<p><strong>Folio Denuncia:</strong> {{ acta.indique_folio_denuncia }}</p>{% endif %}
                {% if acta.indique_folio_revision_fiscalizada_previamente %}<p><strong>Folio Revisión Fiscalizada Previamente:</strong> {{ acta.indique_folio_revision_fiscalizada_previamente }}</p>{% endif %}
                {% if acta.indique_folio_revision_acta_remota %}<p><strong>Folio Revisión Acta Remota:</strong> {{ acta.indique_folio_revision_acta_remota }}</p>{% endif %}
                {% if acta.existe_despliegue_propaganda %}<p><strong>Existe Despliegue Propaganda:</strong> {{ acta.existe_despliegue_propaganda }}</p>{% endif %}
                {% if acta.indique_folio_f104 %}<p><strong>Folio F104:</strong> {{ acta.indique_folio_f104 }}</p>{% endif %}
                {% if acta.indique_otro %}<p><strong>Indique Otro:</strong> {{ acta.indique_otro }}</p>{% endif %}

                <!-- 3. Sujeto fiscalizado -->
                {% if acta.Sujeto_fiscalizado %}<p><strong>Sujeto Fiscalizado:</strong> {{ acta.Sujeto_fiscalizado }}</p>{% endif %}
                {% if acta.partido_politico_habilitado %}<p><strong>Partido Político Habilitado:</strong> {{ acta.partido_politico_habilitado }}</p>{% endif %}
                {% if acta.otro_sujeto_fiscalizado %}<p><strong>Otro Sujeto Fiscalizado:</strong> {{ acta.otro_sujeto_fiscalizado }}</p>{% endif %}
                {% if acta.alcalde %}<p><strong>Nombre:</strong> {{ acta.alcalde }}</p>{% endif %}
                {% if acta.gore %}<p><strong>Nombre:</strong> {{ acta.gore }}</p>{% endif %}

                            <!-- Nuevos campos -->
                {% if acta.tipo_hallazgo %}<p><strong>Tipo de Hallazgo:</strong> {{ acta.tipo_hallazgo }}</p>{% endif %}
                {% if acta.candidato_gore %}<p><strong>Candidato GORE:</strong> {{ acta.candidato_gore }}</p>{% endif %}
                {% if acta.rut_gore %}<p><strong>RUT GORE:</strong> {{ acta.rut_gore }}</p>{% endif %}
                {% if acta.partido_gore %}<p><strong>Partido GORE:</strong> {{ acta.partido_gore }}</p>{% endif %}
                {% if acta.mail_gore %}<p><strong>Email GORE:</strong> {{ acta.mail_gore }}</p>{% endif %}
                {% if acta.candidato_core %}<p><strong>Candidato CORE:</strong> {{ acta.candidato_core }}</p>{% endif %}
                {% if acta.rut_core %}<p><strong>RUT CORE:</strong> {{ acta.rut_core }}</p>{% endif %}
                {% if acta.partido_core %}<p><strong>Partido CORE:</strong> {{ acta.partido_core }}</p>{% endif %}
                {% if acta.territorio_core %}<p><strong>Territorio CORE:</strong> {{ acta.territorio_core }}</p>{% endif %}
                {% if acta.mail_core %}<p><strong>Email CORE:</strong> {{ acta.mail_core }}</p>{% endif %}
                {% if acta.candidato_alcalde %}<p><strong>Candidato Alcalde:</strong> {{ acta.candidato_alcalde }}</p>{% endif %}
                {% if acta.territorio_alcalde %}<p><strong>Territorio Alcalde:</strong> {{ acta.territorio_alcalde }}</p>{% endif %}
                {% if acta.rut_alcalde %}<p><strong>RUT Alcalde:</strong> {{ acta.rut_alcalde }}</p>{% endif %}
                {% if acta.partido_alcalde %}<p><strong>Partido Alcalde:</strong> {{ acta.partido_alcalde }}</p>{% endif %}
                {% if acta.mail_alcalde %}<p><strong>Email Alcalde:</strong> {{ acta.mail_alcalde }}</p>{% endif %}
                {% if acta.candidato_concejal %}<p><strong>Candidato Concejal:</strong> {{ acta.candidato_concejal }}</p>{% endif %}
                {% if acta.territorio_concejal %}<p><strong>Territorio Concejal:</strong> {{ acta.territorio_concejal }}</p>{% endif %}
                {% if acta.rut_concejal %}<p><strong>RUT Concejal:</strong> {{ acta.rut_concejal }}</p>{% endif %}
                {% if acta.partido_concejal %}<p><strong>Partido Concejal:</strong> {{ acta.partido_concejal }}</p>{% endif %}
                {% if acta.mail_concejal %}<p><strong>Email Concejal:</strong> {{ acta.mail_concejal }}</p>{% endif %}
                <!-- 4. Opción plebiscitaria -->
                {% if acta.opcion_plebiscitaria %}<p><strong>Opción Plebiscitaria:</strong> {{ acta.opcion_plebiscitaria }}</p>{% endif %}
                <!-- 5. Materia fiscalizada -->
                {% if acta.materia_fiscalizada %}<p><strong>Materia Fiscalizada:</strong> {{ acta.materia_fiscalizada }}</p>{% endif %}
                {% if acta.corresponde_espacio_publico_autorizado %}<p><strong>Corresponde Espacio Público Autorizado:</strong> {{ acta.corresponde_espacio_publico_autorizado }}</p>{% endif %}
                {% if acta.seleccione_espacio %}<p><strong>Seleccione Espacio:</strong> {{ acta.seleccione_espacio }}</p>{% endif %}
                {% if acta.adosada_bien_nacional %}<p><strong>Adosada a Bien Nacional:</strong> {{ acta.adosada_bien_nacional }}</p>{% endif %}
                {% if acta.nombre_bienes %}<p><strong>Nombre de Bienes:</strong> {{ acta.nombre_bienes }}</p>{% endif %}
                {% if acta.cantidad_elementos_propaganda_publico %}<p><strong>Cantidad de Elementos Propaganda Público:</strong> {{ acta.cantidad_elementos_propaganda_publico }}</p>{% endif %}
                {% if acta.seleccione_tipo_espacio %}<p><strong>Seleccione Tipo Espacio:</strong> {{ acta.seleccione_tipo_espacio }}</p>{% endif %}
                {% if acta.seleccione_lugar %}<p><strong>Seleccione Lugar:</strong> {{ acta.seleccione_lugar }}</p>{% endif %}
                {% if acta.propaganda_excede_dimensiones %}<p><strong>Propaganda Excede Dimensiones:</strong> {{ acta.propaganda_excede_dimensiones }}</p>{% endif %}
                {% if acta.indique_tipo_espacio_fiscalizado %}<p><strong>Indique Tipo Espacio Fiscalizado:</strong> {{ acta.indique_tipo_espacio_fiscalizado }}</p>{% endif %}
                {% if acta.actividad_fiscalizada %}<p><strong>Actividad Fiscalizada:</strong> {{ acta.actividad_fiscalizada }}</p>{% endif %}
                {% if acta.indique_cantidad_brigadistas_lugar %}<p><strong>Indique Cantidad Brigadistas en Lugar:</strong> {{ acta.indique_cantidad_brigadistas_lugar }}</p>{% endif %}
                {% if acta.otro_antecente %}<p><strong>Otro Antecedente:</strong> {{ acta.otro_antecente }}</p>{% endif %}

                {% if acta.evidencia_fotografica %}
                <p><strong>Adjuntos:</strong>
                    <a href="{{ acta.evidencia_fotografica }}?token={{ latest_token.Token }}" target="_blank">
                        <img src="{{ acta.evidencia_fotografica }}?token={{ latest_token.Token }}" style="width: 100px; height: auto; cursor: pointer;" alt=""/>
                    </a>
                                  <a href="{{ acta.adjunto2 }}?token={{ latest_token.Token }}" target="_blank">
                        <img src="{{ acta.adjunto2 }}?token={{ latest_token.Token }}" style="width: 100px; height: auto; cursor: pointer;" alt=""/>
                    </a>
                    </a>
                                  <a href="{{ acta.adjunto3 }}?token={{ latest_token.Token }}" target="_blank">
                        <img src="{{ acta.adjunto3 }}?token={{ latest_token.Token }}" style="width: 100px; height: auto; cursor: pointer;" alt=""/>
                    </a>

                    </a>
                                  <a href="{{ acta.adjunto4 }}?token={{ latest_token.Token }}" target="_blank">
                        <img src="{{ acta.adjunto4 }}?token={{ latest_token.Token }}" style="width: 100px; height: auto; cursor: pointer;" alt=""/>
                    </a>
                                    </a>
                                  <a href="{{ acta.adjunto5 }}?token={{ latest_token.Token }}" target="_blank">
                        <img src="{{ acta.adjunto5 }}?token={{ latest_token.Token }}" style="width: 100px; height: auto; cursor: pointer;" alt=""/>
                    </a>
                                    </a>
                                  <a href="{{ acta.adjunto6 }}?token={{ latest_token.Token }}" target="_blank">
                        <img src="{{ acta.adjunto6 }}?token={{ latest_token.Token }}" style="width: 100px; height: auto; cursor: pointer;" alt=""/>
                    </a>
                </p>
                {% endif %}

                {% if acta.link_firma_cargo_timbre %}<p><strong>Link Firma y Cargo con Timbre:</strong> <a href="{{ acta.link_firma_cargo_timbre }}?token={{ latest_token.Token }}" target="_blank">Ver Firma</a></p>{% endif %}
           {% if acta.sis_motivo_inicial %}<p><strong>Motivo Revisor:</strong> {{ acta.sis_motivo_inicial }}</p>{% endif %}
            </div>
        </div>
    </div>
</div>


            <!-- Modal para ver imagen grande -->
<div class="modal fade" id="imageModal{{ acta.global_id }}" tabindex="-1" aria-labelledby="imageModalLabel{{ acta.global_id }}" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel{{ acta.global_id }}">Adjunto del Acta {{ acta.global_id }}</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="https://services7.arcgis.com/NfMCco52hDki1c8M/arcgis/rest/services/service_677ef362f30b4961b9f393cdeba403c3/FeatureServer/0/2/attachments/3?token=Eqmr-CJdLDSBnGBYburtg6m_WGyt4h_WQpfNtVd_Yul44hEj1TOuugAwSVbPH5z8cATf8_IGmy4LkFht10wiT8YisJbd1yFd4oJBIAZ0r-x7zYBwwjQPYLErj9Q8wNEPZsPBgUdHk6ZvTEjLK08bdZgSTvjwKYSAMD1tamOke8gLKjtfpJ0cIcH6EYqINA4QxOK-bBQnyldkS3Pt8YwUBHgk51mJR-a6W0BfuTIZb4Q." style="width: 100%; height: auto;" alt="Imagen adjunta"/>
            </div>
        </div>
    </div>
</div>


        {% endfor %}
    </tbody>
    </table>
<td style="text-align:center" > <button class="btn btn-warning" onclick="goBack()">Volver</button></td>

</section>
</div>

        <script type="text/javascript">
    var order;
 function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');

 function formatDate(dateString) {
    const date = new Date(dateString);
    const year = date.getFullYear();
    const month = String(date.getMonth() + 1).padStart(2, '0');
    const day = String(date.getDate()).padStart(2, '0');
    return `${year}-${month}-${day}`;
}

  function pasar(global_id) {
    const sis_link = document.getElementById(`sis_link${global_id}`);
    const sis_nro_requerimiento = document.getElementById(`sis_nro_requerimiento${global_id}`);
    const selectorCodigo = document.getElementById(`selectorCodigo${global_id}`);
    const sis_fecha_sub = document.getElementById(`sis_fecha_sub${global_id}`);
    const sis_plazo_respuesta = document.getElementById(`sis_plazo_respuesta${global_id}`);
    const sis_respuesta = document.getElementById(`sis_respuesta${global_id}`);
    const sis_oficio_retiro = document.getElementById(`sis_oficio_retiro${global_id}`);
    const sis_certificado = document.getElementById(`sis_certificado${global_id}`);
    const sis_propuesta = document.getElementById(`sis_propuesta${global_id}`);
    const sis_motivo = document.getElementById(`sis_motivo${global_id}`);

    const sis_linkValue = sis_link.value;
    const sis_nro_requerimientoValue = sis_nro_requerimiento.value;
    const codigoValue = selectorCodigo.value;
    const sis_fecha_subValue = Date(sis_fecha_sub);
    const sis_plazo_respuestaValue = Date(sis_plazo_respuesta);
    const sis_respuestaValue = sis_respuesta.value;
    const sis_oficio_retiroValue = sis_oficio_retiro.value;
    const sis_certificadoValue = sis_certificado.value;
    const sis_propuestaValue = sis_propuesta.value;
    const sis_motivoValue = sis_motivo.value;
    console.log(sis_nro_requerimientoValue)
    // Habilitar el botón según las condiciones dadas
        if (confirm('¿Esta Seguro que Desea Pasar la Etapa Con Infracción?')) {
          // Save it!

          pasar_etapa(global_id, 'EFR_Validacion', codigoValue, sis_linkValue, sis_nro_requerimientoValue,  sis_fecha_subValue, sis_plazo_respuestaValue, sis_respuestaValue, sis_oficio_retiroValue, sis_certificadoValue,  sis_propuestaValue, sis_motivoValue);
            setTimeout(() => {   return window.location.replace("{% url 'terreno_con_infraccion' %}"); }, 1000);
        } else {
          // Do nothing!
          console.log('No Finalizado Confirmado');
        }
}


    function pasar_etapa(global_id,etapa,codigo, sis_linkValue, sis_nro_requerimientoValue, sis_fecha_subValue, sis_plazo_respuestaValue, sis_respuestaValue, sis_oficio_retiroValue, sis_certificadoValue, sis_propuestaValue, sis_motivoValue) {

        var datos = {
                'respuesta':'',
				'global_id': global_id.toString(),
                'etapa': etapa.toString(),
                'codigo' : codigo.toString(),
                'sis_linkValue' : sis_linkValue.toString(),
            'sis_nro_requerimientoValue' : sis_nro_requerimientoValue.toString(),
            'sis_fecha_subValue' : formatDate(sis_fecha_subValue),
            'sis_plazo_respuestaValue' : formatDate(sis_plazo_respuestaValue),
            'sis_respuestaValue' : sis_respuestaValue.toString(),
            'sis_oficio_retiroValue' : sis_oficio_retiroValue.toString(),
            'sis_certificadoValue' : sis_certificadoValue.toString(),
            'sis_propuestaValue' : sis_propuestaValue.toString(),
            'sis_motivoValue' : sis_motivoValue.toString(),

			}
    var url = "/sgd/pasar_acta/"
        fetch(url, {
	    		method:'POST',
	    		headers:{
	    			'Content-Type': 'application/json',
                    'Accept': 'application/json',
	    			'X-CSRFToken':csrftoken
	    		},
	    		body:JSON.stringify({'datos':datos}),

	    	})
            .then((response) => response.json())
            }



</script>



{% endblock %}