{% extends 'GestionDenuncias/base.html' %}
{% block title %} <title>Sistema de Gestion de Denuncias</title> {% endblock %}
{% block body %}
<script src='https://www.google.com/recaptcha/api.js?render=6LejSvUkAAAAAOo8Rk3XWUPDpoDhSsbpFyl9Yqjg'></script>

<br>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Por Favor, Ingresa para ver esta Pagina.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<input type="hidden" name="recaptcha_response" id="recaptchaResponse">

<table>
<tr>
    <td>Usuario</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>Contraseña</td>
    <td>{{ form.password }}</td>
</tr>
</table>
<br>

<input type="submit" value="Ingresar"  id="button1" disabled="disabled" >
<input type="hidden" name="next" value="{{ next }}" >
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">¿Olvidaste tu Contraseña?</a></p>

<script>
grecaptcha.ready(function() {
    grecaptcha.execute('6LejSvUkAAAAAOo8Rk3XWUPDpoDhSsbpFyl9Yqjg', {action: 'submit'}).then(function(token) {
        document.getElementById("recaptchaResponse").value = token;
        document.getElementById("button1").disabled = false;
    });
});
</script>

{% endblock %}