{% extends 'GestionDenuncias/base.html' %}
{% block title %}
<title>Registro de Activación</title>
{% endblock %}

{% block body %}
<script type="text/javascript" class="init">
    var fechaHoraActual = new Date("{{ hora_actual|date:'Y-m-d H:i:s' }}");
    var diasSemana = ["domingo", "lunes", "martes", "miércoles", "jueves", "viernes", "sábado"];
    var meses = ["enero", "febrero", "marzo", "abril", "mayo", "junio", "julio", "agosto", "septiembre", "octubre", "noviembre", "diciembre"];

    function actualizarHoraYFecha() {
        var horas = fechaHoraActual.getHours().toString().padStart(2, '0');
        var minutos = fechaHoraActual.getMinutes().toString().padStart(2, '0');
        var segundos = fechaHoraActual.getSeconds().toString().padStart(2, '0');
        document.getElementById("hora").textContent = horas + ":" + minutos + ":" + segundos;

        var diaSemana = diasSemana[fechaHoraActual.getDay()];
        var dia = fechaHoraActual.getDate().toString().padStart(2, '0');
        var mes = meses[fechaHoraActual.getMonth()];
        var anio = fechaHoraActual.getFullYear();
        document.getElementById("fecha").textContent = diaSemana + " " + dia + " de " + mes + " de " + anio;

        fechaHoraActual.setSeconds(fechaHoraActual.getSeconds() + 1);
    }

    setInterval(actualizarHoraYFecha, 1000);

    window.onload = function() {
        var entradaHoy = {{ entrada_hoy|yesno:"true,false" }};
        var salidaHoy = {{ salida_hoy|yesno:"true,false" }};

        // Habilitar/deshabilitar botones según los registros de hoy
        document.getElementById("btnInicio").disabled = entradaHoy;
        document.getElementById("modoTrabajo").disabled = entradaHoy;
        document.getElementById("btnTermino").disabled = !entradaHoy || salidaHoy;
    };
</script>

<style>
    #fecha {
        font-size: 0.8em;
        color: grey;
    }

    .cuadro {
        display: inline-block;
        width: 150px;
        height: 100px;
        border: 2px solid #007bff;
        border-radius: 10px;
        text-align: center;
        vertical-align: middle;
        line-height: 100px;
        margin-right: 10px;
        font-weight: bold;
        font-size: 1.2em;
        color: #007bff;
    }

    .boton {
        margin: 10px;
    }

    .contenedor {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .contenedor-cuadros {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .contenedor-botones {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
</style>

<div class="w3-responsive">
    <section class="section1 contenedor">
        <h3>Registro de Activación de Conexión</h3>
        <h4>División de Fiscalización del Gasto y Propaganda Electoral</h4>

        <div>
            <h1><span id="hora">{{ hora_actual|date:"H:i:s" }}</span></h1>
            <p id="fecha">{{ hora_actual|date:"l d \\de F \\de Y" }}</p>
        </div>

        <!-- Modo de trabajo con selección -->
        <form method="POST" action="{% url 'registrar_horario' %}">
            {% csrf_token %}
            <div>
                <label for="modoTrabajo">Modo de Trabajo:</label>
                <select id="modoTrabajo" name="tipo_trabajo" class="form-control">
                    <option value="Teletrabajo" {% if entrada_hoy and entrada_hoy.tipo_trabajo == 'Teletrabajo' %}selected{% endif %}>Teletrabajo</option>
                    <option value="Presencial" {% if entrada_hoy and entrada_hoy.tipo_trabajo == 'Presencial' %}selected{% endif %}>Presencial</option>
                </select>
            </div>

            <div class="contenedor-botones">
                <button id="btnInicio" class="btn btn-success boton" name="tipo_e_o_s" value="Entrada">Ingresar Inicio</button>
                <button id="btnTermino" class="btn btn-danger boton" name="tipo_e_o_s" value="Salida">Ingresar Término</button>
            </div>

            <div class="contenedor-cuadros">
                <div class="cuadro" id="inicio">
                    {% if entrada_hoy %}{{ entrada_hoy.hora|date:"H:i:s" }}{% else %}Inicio{% endif %}
                </div>
                <div class="cuadro" id="termino">
                    {% if salida_hoy %}{{ salida_hoy.hora|date:"H:i:s" }}{% else %}Término{% endif %}
                </div>
            </div>
        </form>
    </section>
</div>
{% endblock %}
