{% extends 'GestionDenuncias/base.html' %}
{% block title %} <title>Sistema de Control Preventivo</title> {% endblock %}

{% block body %}


    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <!-- Quill JS -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

    	<style>
		.formularioEmergente {
			position: fixed;
			top: 50%;
			left: 50%;

			transform: translate(-50%, -50%);
			z-index: 9999;
			background-color: white;
			padding: 20px;
			border: 1px solid black;
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
		}

		#fondoEmergente {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.5);
			z-index: 9998;
		}
        .cerrar {
  float: right;
}
        .contador {
  font-size: small;
  font-style: italic;
  float: right;
}

	</style>

            <script type="text/javascript" class="init">


$(document).ready(function() {
	$('#example2').DataTable({
        "language": {
            "lengthMenu": "Ver _MENU_ registros por pagina",
            "zeroRecords": "Sin Resultados",
            "info": "Mostrando pagina _PAGE_ de _PAGES_",
            "infoEmpty": "Sin Resultados",
            "infoFiltered": "(filtrado de _MAX_ registros)"
        },
               dom: 'lfrtBip',
        buttons: [
             {
      extend: 'excel',
      exportOptions: {

          format: {
              body: function(data, row, column, node) {
                  data = $('<p>' + data + '</p>').text();
                  return $.isNumeric(data.replace(',', '.')) ? data.replace(',', '.') : data;
              }
          }
      }
  }
        ]



    } );
} );
            function goBack() {
  window.history.back();
}

            </script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<div class="w3-responsive">

<section class="section1">
<h3>Partidos Revision Jefe Unidad</h3>

<div style="display:flex; justify-content:flex-end; width:100%; padding:0;">


</div>

    <table id="example2" class="table table-striped table-bordered dt-responsive" style="width:100%">
    <thead>
        <tr>
            <th>Rut</th>
            <th>Nombre</th>
            <th style="text-align: center">Carpeta</th>
            <th>Auditor</th>
            <th>¿Tiene Observaciones?</th>
            <th style="text-align: center">Accion</th>
        </tr>
            </thead>
    <tbody>
        {% load humanize %}
        {% for linea in candidatos %}

       <tr>

            <td>{{ linea.par_rut}}</td>
            <td>{{ linea.par_nombre}}</td>
    <td style="text-align: center"><a href="{{linea.link_edicion}}" target="_blank">
    <button class="btn btn-primary">
        <i class="bi bi-file-earmark-minus-fill"></i>
    </button>
</a>
</td>
  <td>{{ linea.asignado_a }}</td>
  <td>
    <select
      name="status"
      id="selectorstatus{{linea.par_rut}}"
      onchange="selectorStatusOnChange('{{ linea.par_rut|stringformat:'s' }}', this)"
    >
      <option value="Pendiente" selected>Pendiente</option>
      <option value="Si">Si</option>
      <option value="No">No</option>
    </select>
  </td>
  <td>
    <div class="d-flex justify-content-between">
        <a class="btn btn-success" id="pasar{{ linea.par_rut|stringformat:'s' }}" disabled title="Si no tiene observaciones pasa a la siguiente etapa, Si tiene observaciones se devuelve al abogado">
            Pasar Etapa
        </a>
        <a class="btn btn-danger" id="volver{{ linea.par_rut|stringformat:'s' }}" onclick="volver('{{ linea.par_rut|stringformat:'s' }}','2_AsignadoAuditor')" title="Al Presionar aca la cuenta se devuelve al Auditor Inicial">
            <i class="bi bi-backspace-fill"></i>
        </a>
    </div>
</td>

        <div class="formularioEmergente" id="formularioEmergente{{ linea.par_rut }}" style="display: none;">

                <h4>Señale el Motivo de Rechazo {{ linea.par_rut }}</h4>
                <hr>
                <label for="respuesta">Ingrese la Observación:</label><br>
                <div id="respuesta{{ linea.par_rut|stringformat:'s' }}" class="quill-editor" style="height: 300px;"></div><br>
                <hr>
                <button type="submit" onclick="pasar('{{ linea.par_rut|stringformat:'s' }}','4_ConHallazgosAbogado')">Enviar</button>
                <button type="button" class="cerrar" onclick="ocultarFormulario('{{ linea.par_rut|stringformat:'s' }}')">Cerrar</button>

            </div>

</tr>

        {% endfor %}
    </tbody>
    </table>
<td style="text-align:center" > <button class="btn btn-warning" onclick="goBack()">Volver</button></td>

</section>
</div>

        <script type="text/javascript">
    var order;
 function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');

 function contarCaracteres(ObjectID) {
  var respuesta = document.getElementById("respuesta" + ObjectID);
  var contador = document.getElementById("contadorCaracteres"+ ObjectID);
  var caracteresRestantes = 2000 - respuesta.value.length;
  contador.innerHTML = "Caracteres restantes: " + caracteresRestantes;
  if (caracteresRestantes < 0) {
    contador.style.color = "red";
  } else {
    contador.style.color = "black";
  }
}

 var quillInstances = {};

    function initQuillEditor(ObjectID) {
        var quill = new Quill('#respuesta' + ObjectID, {
            theme: 'snow'
        });
        return quill;
    }

    function mostrarFormulario(ObjectID, respuesta) {
        var formulario = document.getElementById("formularioEmergente" + ObjectID);
        formulario.style.display = "block";

        if (!quillInstances[ObjectID]) {
            quillInstances[ObjectID] = initQuillEditor(ObjectID);
        }
        quillInstances[ObjectID].root.innerHTML = respuesta;
    }

    function ocultarFormulario(ObjectID) {
        var formulario = document.getElementById("formularioEmergente" + ObjectID);
        formulario.style.display = "none";
    }

    function obtenerRespuesta(ObjectID) {
        var respuesta = quillInstances[ObjectID].root.innerHTML;
        return respuesta;
    }


  function pasar(rut,tipo) {

  if (confirm('¿Esta Seguro que Desea Pasar la Etapa?')) {
  // Save it!

  pasar_etapa(rut, tipo);
    setTimeout(() => {   return window.location.replace("{% url 'jefeunidad_partidos' %}"); }, 1000);
} else {
  // Do nothing!
  console.log('No Finalizado Confirmado');
}

}


  function volver(rut,tipo) {

  if (confirm('¿ESTA SEGURO QUE DESEA REGRESAR EL CASO A LA ETAPA INICIAL?')) {
  // Save it!

  if (confirm('¿REALMENTE ESTA SEGURO?')) {
  // Save it!
      console.log(rut)
  pasar_etapa(rut, tipo);
    setTimeout(() => {   return window.location.replace("{% url 'jefeunidad_partidos' %}"); }, 1000);
  }} else {
  // Do nothing!
  console.log('No Finalizado Confirmado');
}

}

    function pasar_etapa(rut,tipo) {
var respuesta = obtenerRespuesta(rut);
        var datos = {
                'respuesta': respuesta,
				'rut': rut.toString(),
                'etapa': tipo,
                'tipo' : 'Partido'
			}
    var url = "/scp/pasaretapa/"
        fetch(url, {
	    		method:'POST',
	    		headers:{
	    			'Content-Type': 'application/json',
                    'Accept': 'application/json',
	    			'X-CSRFToken':csrftoken
	    		},
	    		body:JSON.stringify({'datos':datos}),

	    	})
            .then((response) => response.json())
      }


        function pasar1(rut) {
    // Código de la función pasar1
            console.log("Pasar1");
            mostrarFormulario(rut, '')
  }

  function pasar2(rut) {
    // Código de la función pasar2
      console.log("Pasar2");
      pasar(rut,'6_JefeDivision')
  }

  function selectorStatusOnChange(rut, selector) {
    const value = selector.value;
    const button = document.getElementById(`pasar${rut}`);

    if (value === "Si") {
      button.onclick = () => pasar1(rut);
      button.disabled = false;
    } else if (value === "No") {
      button.onclick = () => pasar2(rut);
      button.disabled = false;
    } else {
      button.onclick = null;
      button.disabled = true;
    }
  }


</script>



    </script>

{% endblock %}