{% extends 'GestionDenuncias/base.html' %}
{% block title %} <title>Sistema de Control Preventivo</title> {% endblock %}

{% block body %}

            <script type="text/javascript" class="init">


$(document).ready(function() {
	$('#example2').DataTable({
        "language": {
            "lengthMenu": "Ver _MENU_ registros por pagina",
            "zeroRecords": "Sin Resultados",
            "info": "Mostrando pagina _PAGE_ de _PAGES_",
            "infoEmpty": "Sin Resultados",
            "infoFiltered": "(filtrado de _MAX_ registros)"
        },
               dom: 'lfrtBip',
        buttons: [
             {
      extend: 'excel',
      exportOptions: {

          format: {
              body: function(data, row, column, node) {
                  data = $('<p>' + data + '</p>').text();
                  return $.isNumeric(data.replace(',', '.')) ? data.replace(',', '.') : data;
              }
          }
      }
  }
        ]



    } );
} );
            function goBack() {
  window.history.back();
}

            </script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<div class="w3-responsive">

<section class="section1">
<h3>Detalle Cartola {{ candidato }}</h3>

<div style="display:flex; justify-content:flex-end; width:100%; padding:0;">

</div>

    <table id="example2" class="table table-striped table-bordered dt-responsive" style="width:100%">
    <thead>
        <tr>
            <th>N. Cart - Corr</th>
            <th style="text-align: center">Tipo</th>
            <th>Cuenta</th>
            <th>Fecha Emision</th>
            <th>Fecha Mov.</th>
            <th>Num. Doc</th>
            <th>Descripcion</th>
            <th>Ofi</th>
            <th>Cargos</th>
            <th>Abonos</th>
            <th>Saldo</th>
        </tr>
            </thead>
    <tbody>
        {% load humanize %}
        {% for linea in cartolas %}

        <tr>
            {% if linea.n_cart >= 1 and linea.n_cart <= 9 %}
                {% if linea.corr >= 1 and linea.corr <= 9 %}
            <td>0{{ linea.n_cart }} - 0{{ linea.corr}}</td>
                {% else %}
           <td>0{{ linea.n_cart }} - {{ linea.corr}}</td>
           {% endif %}
            {% else %}

            {% if linea.corr >= 1 and linea.corr <= 9 %}
            <td>{{ linea.n_cart }} - 0{{ linea.corr}}</td>
                {% else %}
           <td>{{ linea.n_cart }} - {{ linea.corr}}</td>
           {% endif %}
            {% endif %}
            <td>{{ linea.tipo}}</td>
            <td>{{ linea.cuenta}}</td>
            <td>{{ linea.fec_emi|date:'d-m-y'}}</td>
            <td>{{ linea.f_mov|date:'Ymd' }}</td>

            <td>{{ linea.num_doc}}</td>
            <td>{{ linea.descripcion }}</td>
            <td>{{ linea.ofi }}</td>
            <td>{{ linea.sal_cargos }}</td>
            <td>{{ linea.sal_abonos }}</td>
            <td>{{ linea.saldo }}</td>
        {% endfor %}
    </tbody>
    </table>


</section>
</div>

       <script type="text/javascript">
    var order;
 function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');

  function asignar(rut) {

  var selector_asignacion = document.getElementById('selectorasignacion'+ rut.toString());
  var asignacion_selected = selector_asignacion.options[selector_asignacion.selectedIndex].value;

  if (confirm('¿Esta Seguro que Desea Asignar?' + asignacion_selected)) {
  // Save it!

  asignar_recurso(rut, asignacion_selected);
    setTimeout(() => {   return window.location.replace("{% url 'admin_asignacion_candidato' %}"); }, 1000);
} else {
  // Do nothing!
  console.log('No Finalizado Confirmado');
}

}
    function asignar_recurso(rut, asignacion) {

        var datos = {
				'rut': rut.toString(),
                'asignacion': asignacion
			}
    var url = "/scp/asignacandidatos/"
        fetch(url, {
	    		method:'POST',
	    		headers:{
	    			'Content-Type': 'application/json',
                    'Accept': 'application/json',
	    			'X-CSRFToken':csrftoken
	    		},
	    		body:JSON.stringify({'datos':datos}),

	    	})
            .then((response) => response.json())
      }

function asignar_individual_masivo(rut) {
  var selector_asignacion = document.getElementById('selectorasignacion' + rut.toString());

  // Verificar si selector_asignacion es nulo
  if (selector_asignacion === null) {
    // Si es nulo, no hacer nada y salir de la función
    return;
  }

  var asignacion_selected = selector_asignacion.options[selector_asignacion.selectedIndex].value;

  // Verificar si asignacion_selected es igual a 'Pendiente'
  if (asignacion_selected === 'Pendiente') {
    // Si es igual a 'Pendiente', no hacer nada y salir de la función
    return;
  }


  asignar_recurso(rut, asignacion_selected);
}

function asignar_todos() {

  if (confirm('¿Esta Seguro que Desea Asignar Todos los  Modificados?')) {
  // Save it!
  console.log('Asignar Recurso N°');

      {% for linea in candidatos %}
        {% if linea.estado == '1_Ingreso' %}
              ingresorut = '{{ linea.rut|stringformat:"s" }}'
              asignar_individual_masivo(ingresorut.toString());
        {% endif %}
        {% endfor %}
  window.alert("Asignadas");
    setTimeout(() => {   return window.location.replace("{% url 'admin_asignacion_candidato' %}"); }, 1000);
} else {
  // Do nothing!
  console.log('No Finalizado Confirmado');
}}


    </script>

{% endblock %}